@page "/calendar"
@using Cervantes.Web.Localization
@using Microsoft.Extensions.Localization
@using Color = MudBlazor.Color
@inject IStringLocalizer<Resource> localizer
<AuthorizeView Context="innerContext" Roles="Admin,SuperUser,User">

<PageTitle>@localizer["calendar"] | Cervantes</PageTitle>
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" Class="mt-5">
                <MudStack Row="true">
            				    
                    <MudItem xs="12" sm="4" md="4">
                        <MudText Typo="Typo.h4"><MudIcon Icon="@Icons.Material.Filled.CalendarMonth" /> @localizer["calendar"]</MudText>
            
            
                    </MudItem>
                    <MudItem xs="12" sm="8" md="8">
                        <div class="d-flex justify-end">
                            <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
                        </div>
                    </MudItem>
                </MudStack>
            
            </MudItem>
            
            <MudItem xs="12" sm="12" md="12">
            <MudCalendar Items="_events" ShowDay="false" ShowWeek="false" MonthCellMinHeight="@(false ? 0 : 115)">
                <CellTemplate>
                    <div style="background-color: @GetColor(((CustomItem)context).Color)">
                        <MudText Style="color: #ffffff;" Typo="Typo.body1" Align="Align.Center">@(((CustomItem)context).Title)</MudText>
                    </div>
                </CellTemplate>
            </MudCalendar>
            <br/>
            <div style="text-align: center;">
                <MudText Typo="Typo.subtitle1">
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Dark" Size="Size.Small"/> Project |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Info" Size="Size.Small"/> Task: Backlog |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Primary" Size="Size.Small"/> Task: To Do |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Warning" Size="Size.Small"/> Task: In Progress |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Success" Size="Size.Small"/> Task: Done |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Error" Size="Size.Small"/> Task: Blocked

                </MudText>

            </div>

            <br/>
            <MudButton Href="/"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.ArrowBack"
                       Color="Color.Default">
                @localizer["back"]
            </MudButton>
            </MudItem>
        </MudGrid>

</AuthorizeView>
