@page "/calendar"
@using Cervantes.Web.Localization
@using Microsoft.Extensions.Localization
@using Color = MudBlazor.Color
@inject IStringLocalizer<Resource> localizer
<AuthorizeView Context="innerContext" Roles="Admin,SuperUser,User">

    <PageTitle>@localizer["calendar"] | Cervantes</PageTitle>
    <SectionContent SectionName="appbar">
        <MudText Typo="Typo.h5">
            <MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.CalendarMonth"></MudIcon>

            @localizer["calendar"]

        </MudText>
    </SectionContent>
    <SectionContent SectionName="top-bar">
        
    </SectionContent>

    <SectionContent SectionName="breadcrumbs">
        <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
    </SectionContent>
    
        <MudGrid>
            
            <MudItem xs="12" sm="12" md="12">
            <MudCalendar Items="_events" ShowDay="false" ShowWeek="false" MonthCellMinHeight="@(false ? 0 : 115)">
                <CellTemplate>
                    <div style="background-color: @GetColor(((CustomItem)context).Color)">
                        <MudText Style="color: #ffffff;" Typo="Typo.body1" Align="Align.Center">@(((CustomItem)context).Title)</MudText>
                    </div>
                </CellTemplate>
            </MudCalendar>
            <br/>
            <div style="text-align: center;">
                <MudText Typo="Typo.subtitle1">
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Dark" Size="Size.Small"/> Project |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Info" Size="Size.Small"/> Task: Backlog |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Primary" Size="Size.Small"/> Task: To Do |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Warning" Size="Size.Small"/> Task: In Progress |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Success" Size="Size.Small"/> Task: Done |
                    <MudIcon Icon="@Icons.Material.Filled.Circle" Color="Color.Error" Size="Size.Small"/> Task: Blocked

                </MudText>

            </div>
            
            </MudItem>
        </MudGrid>

</AuthorizeView>
