@using System.Net
@using Cervantes.CORE
@model VulnDetailsViewModel

@{
    ViewData["Title"] = "Vuln Details";
}

@{
    if (TempData["addedVulnNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Note added to vuln successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["deletedVulnNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Note deleted from vuln successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["addedVulnAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Attachment added to vuln successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["deletedVulnAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Attachment deleted from vuln successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["errorVulnAttachment"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error was produced adding an Attachment!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    
    if (TempData["errorAddNoteVuln"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred adding the note!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    
    if (TempData["errorDeleteVulnAtt"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred deleting the attachment!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    
    if (TempData["errorDeleteVulnNote"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred deleting the note!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["errorCreateJira"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred creating Jira issue!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    
    if (TempData["createJira"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Jira ticket created successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content>
                    <i class="fas fa-bug"></i> @Model.Vuln.Name
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-controller="Vuln" asp-action="Index" localize-content>
                            <span localize-content>Vulnerability</span>
                        </a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

<div class="container-fluid">
<div class="row">
<div class="col-md-3">

    <!-- Profile Image -->
    <div class="card card-dark card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <span class="img-fluid img-circle">
                    <i class="fas fa-bug fa-3x"></i>
                </span>
            </div>

            <h3 class="profile-username text-center">@Model.Vuln.Name</h3>
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-dark">
                    <i class="fas fa-folder"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text" localize-content>Project</span>
                    
                        @{
                            if (@Model.Vuln.Project != null)
                            {
                                <span class="info-box-number">@Model.Vuln.Project.Name</span>
                            }
                            else
                            {
                                <span class="info-box-number">No Project</span>
                            }
                        }
                    
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-info">
                    <i class="fas fa-user"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text" localize-content>Created by</span>
                    <span class="info-box-number">@Model.Vuln.User.FullName</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-warning">
                    <i class="fas fa-project-diagram"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text" localize-content>Category</span>
                    <span class="info-box-number">
                        @{
                            if (@Model.Vuln.VulnCategory != null)
                            {
                                @Model.Vuln.VulnCategory.Name
                            }
                            else
                            {
                                <span localize-content>No Category</span>
                            }
                        }
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-gray">
                    <i class="fas fa-virus"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text" localize-content>CVE</span>
                    <span class="info-box-number">@Model.Vuln.cve</span>
                </div>
                <!-- /.info-box-content -->
            </div>
   
                    <div class="info-box mb-3 ">
                        <span class="info-box-icon bg-maroon">
                            <i class="fas fa-radiation-alt"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text" localize-content>CVSS3 Score</span>
                            <span class="info-box-number">
                                @if (Model.Vuln.CVSS3 <= 2)
                                {
                                    <span class="badge badge-info">
                                        <i class="fas fa-info-circle"></i> @Model.Vuln.CVSS3
                                    </span>
                                }
                                else if (Model.Vuln.CVSS3 > 2 && Model.Vuln.CVSS3 <= 4)
                                {
                                    <span class="badge badge-success">
                                        <i class="fas fa-exclamation"></i> @Model.Vuln.CVSS3
                                    </span>
                                }
                                else if (Model.Vuln.CVSS3 > 4 && Model.Vuln.CVSS3 <= 6)
                                {
                                    <span class="badge badge-warning">
                                        <i class="fas fa-exclamation"></i> @Model.Vuln.CVSS3
                                    </span>
                                }
                                else if (Model.Vuln.CVSS3 > 6 && Model.Vuln.CVSS3 <= 8)
                                {
                                    <span class="badge badge-danger">
                                        <i class="fas fa-exclamation-circle"></i> @Model.Vuln.CVSS3
                                    </span>
                                }
                                else if (Model.Vuln.CVSS3 > 8 && Model.Vuln.CVSS3 < 11)
                                {
                                    <span class="badge badge-danger">
                                        <i class="fas fa-exclamation-triangle"></i> @Model.Vuln.CVSS3
                                    </span>
                                }
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>

                    <div class="info-box mb-3 ">
                    <span class="info-box-icon bg-maroon">
                        <i class="fas fa-radiation-alt"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text" localize-content>OWASP Risk</span>
                        <span class="info-box-number">
                            @if (@Model.Vuln.OWASPRisk == "NOTE")
                            {
                                <span class="badge badge-info">
                                    <i class="fas fa-info-circle"></i> @Model.Vuln.OWASPRisk
                                </span>
                            }
                            else if (@Model.Vuln.OWASPRisk == "LOW")
                            {
                                <span class="badge badge-success">
                                    <i class="fas fa-exclamation"></i> @Model.Vuln.OWASPRisk
                                </span>
                            }
                            else if (@Model.Vuln.OWASPRisk == "MEDIUM")
                            {
                                <span class="badge badge-warning">
                                    <i class="fas fa-exclamation"></i> @Model.Vuln.OWASPRisk
                                </span>
                            }
                            else if (@Model.Vuln.OWASPRisk == "HIGH")
                            {
                                <span class="badge badge-danger">
                                    <i class="fas fa-exclamation-circle"></i> @Model.Vuln.OWASPRisk
                                </span>
                            }
                            else if (@Model.Vuln.OWASPRisk == "CRITICAL")
                            {
                                <span class="badge badge-danger">
                                    <i class="fas fa-exclamation-triangle"></i> @Model.Vuln.OWASPRisk
                                </span>
                            }
                            else if (@Model.Vuln.OWASPRisk == null)
                            {
                                <span>
                                    No Data
                                </span>
                            }
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                
                <div class="info-box mb-3 ">
                    <span class="info-box-icon bg-purple">
                        <i class="far fa-dot-circle"></i>
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text" localize-content>OWASP LikeHood</span>
                        @if (@Model.Vuln.OWASPLikehood == null)
                        {
                            <span class="info-box-number">No Data</span>
                        }
                        else
                        {
                            <span class="info-box-number">@Model.Vuln.OWASPLikehood</span>
                        }
                        
                    </div>
                    <!-- /.info-box-content -->
                </div>
                
                        <div class="info-box mb-3 ">
                            <span class="info-box-icon bg-orange">
                                <i class="fas fa-exclamation"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text" localize-content>OWASP Impact</span>
                                @if (@Model.Vuln.OWASPImpact == null)
                                {
                                    <span class="info-box-number">No Data</span>
                                                    
                                }
                                else
                                {
                                    <span class="info-box-number">@Model.Vuln.OWASPImpact</span>
                                                                                                           
                                }
                        
                            </div>
                            <!-- /.info-box-content -->
                        </div>

            
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-danger">
                    <i class="fas fa-biohazard"></i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text" localize-content>Risk</span>
                    <span class="info-box-number">
                        @switch (@Model.Vuln.Risk)
                        {
                            case VulnRisk.Info:
                                <span class="badge badge-info">
                                    <i class="fas fa-info-circle"></i> @Model.Vuln.Risk
                                </span>
                                break;
                            case VulnRisk.Low:
                                <span class="badge badge-success">
                                    <i class="fas fa-exclamation"></i> @Model.Vuln.Risk
                                </span>
                                break;
                            case VulnRisk.Medium:
                                <span class="badge badge-warning">
                                    <i class="fas fa-exclamation"></i> @Model.Vuln.Risk
                                </span>
                                break;
                            case VulnRisk.High:
                                <span class="badge badge-danger">
                                    <i class="fas fa-exclamation-circle"></i> @Model.Vuln.Risk
                                </span>
                                break;
                            case VulnRisk.Critical:
                                <span class="badge badge-danger">
                                    <i class="fas fa-exclamation-triangle"></i> @Model.Vuln.Risk
                                </span>
                                break;
                            default:
                                <span class="badge badge-light">@Model.Vuln.Risk</span>
                                break;
                        }
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>


        </div>
        <!-- /.card-body -->
    </div>
<a class="btn btn-default" asp-controller="Vuln" asp-action="Index" localize-content>Back</a>
            <a class="btn btn-outline-warning" asp-area="" asp-controller="Vuln" asp-action="Edit" asp-route-id="@Model.Vuln.Id" asp-route-vector="@Model.Vuln.OWASPVector" localize-content><i class="fas fa-edit"></i> Edit</a>


    
    <!-- /.card -->
</div>
<!-- /.col -->
<div class="col-md-9">
<div class="card card-dark card-tabs">
<div class="card-header p-0 pt-1">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#details" data-toggle="pill">
                <i class="fas fa-eye"></i> <span localize-content>Details</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#exploitation" data-toggle="pill">
                <i class="fas fa-bug"></i> <span localize-content>Exploitation</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#remediation" data-toggle="pill">
                <i class="fas fa-tools"></i> <span localize-content>Remediation</span>
            </a>
        </li>
        @if (@Model.JiraEnabled == true)
        {
            <li class="nav-item">
                <a class="nav-link" href="#jira" data-toggle="pill">
                    <i class="fab fa-jira"></i> <span localize-content>Jira</span>
                </a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link" href="#targets" data-toggle="pill">
                <i class="fas fa-bullseye"></i> <span localize-content>Targets</span> <span class="badge badge-danger">@Model.Targets.Count()</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#notes" data-toggle="pill">
                <i class="fas fa-sticky-note"></i> <span localize-content>Notes</span> <span class="badge badge-danger">@Model.Notes.Count()</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#attachments" data-toggle="pill">
                <i class="fas fa-file"></i> <span localize-content>Attachments</span> <span class="badge badge-danger">@Model.Attachments.Count()</span>
            </a>
        </li>


    </ul>
</div><!-- /.card-header -->
<div class="card-body">
<div class="tab-content">

<div class="active tab-pane" id="details">

    <div class="card ">
        <div class="card-header bg-gray">
            <h3 class="card-title">
                <i class="fas fa-align-left"></i>
                <strong localize-content>Description</strong>
            </h3>
        </div>

        <div class="card-body">
           @Html.Raw(@WebUtility.HtmlDecode(Model.Vuln.Description))
        </div>

    </div>

    <div class="card ">
        <div class="card-header bg-gray">
            <h3 class="card-title">
                <i class="fas fa-exclamation-triangle"></i>
                <strong localize-content>Impact</strong>
            </h3>
        </div>
    
        <div class="card-body">
            @Html.Raw(@WebUtility.HtmlDecode(Model.Vuln.Impact))
        </div>
    
    </div>

</div>
<!-- /.tab-pane -->

<div class="tab-pane" id="exploitation">

<div class="card ">
        <div class="card-header bg-gray">
            <h3 class="card-title">
                <i class="fas fa-exclamation-triangle"></i>
                <strong localize-content>Proof Of Concept</strong>
            </h3>
        </div>
    
        <div class="card-body">
            @Html.Raw(@WebUtility.HtmlDecode(Model.Vuln.ProofOfConcept))
        </div>
    
    </div>
</div>

<div class="tab-pane" id="remediation">
    <div class="card ">
        <div class="card-header bg-gray">
            <h3 class="card-title">
                <i class="fas fa-tools"></i>
                <strong localize-content>Remediation</strong>
            </h3>
        </div>
        
        <div class="card-body">
            @Html.Raw(@WebUtility.HtmlDecode(Model.Vuln.Remediation))
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header bg-gray">
                    <h3 class="card-title">
                        <i class="fas fa-project-diagram"></i>
                        <strong localize-content>Complexity</strong>
                    </h3>
                </div>
            
                <div class="card-body">
                    @Html.DisplayFor(model => model.Vuln.RemediationComplexity)
                </div>
            
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header bg-gray">
                    <h3 class="card-title">
                        <i class="fas fa-tasks"></i>
                        <strong localize-content>Priority</strong>
                    </h3>
                </div>
            
                <div class="card-body">
                    @Html.DisplayFor(model => model.Vuln.RemediationPriority)
                </div>
            
            </div>
            
        </div>
    </div>

</div>

<div class="tab-pane" id="targets">
    <table id="noteResults" class="table table-bordered table-hover projects" width="100%">
        <!--Table head-->
        <thead class="thead-dark">
        <tr>
            <th>
                <i class="fas fa-sticky-note"></i> <span localize-content>Name</span>
            </th>
            <th>
                <i class="fas fa-align-left"></i> <span localize-content>Description</span>
            </th>
            <th>
                <i class="fas fa-user"></i> <span localize-content>Type</span>
            </th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>

        @foreach (var target in Model.Targets)
        {
            <tr>
                <td>@target.Target.Name</td>
                <td>@Html.Raw(@WebUtility.HtmlDecode(target.Target.Description))</td>
                <td>@target.Target.Type</td>
            </tr>
        }

        </tbody>
        <!--Table body-->
    </table>

</div>

<div class="tab-pane" id="notes">
    <table id="noteResults" class="table table-bordered table-hover projects" width="100%">
        <!--Table head-->
        <thead class="thead-dark">
        <tr>
            <th>
                <i class="fas fa-sticky-note"></i> <span localize-content>Name</span>
            </th>
            <th>
                <i class="fas fa-align-left"></i> <span localize-content>Description</span>
            </th>
            <th>
                <i class="fas fa-user"></i> <span localize-content>Created by</span>
            </th>
            <th>
                <i class="fas fa-eye"></i> <span localize-content>Visibility</span>
            </th>
            <th>
                <i class="fas fa-cog"></i> <span localize-content>Options</span>
            </th>

        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>

        @foreach (var note in Model.Notes)
        {
            <tr>
                <td>@note.Name</td>
                <td>@Html.Raw(@WebUtility.HtmlDecode(note.Description))</td>
                <td>@note.User.FullName</td>
                <td>@note.Visibility</td>
                @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                {
                    <td>
                        <form asp-action="DeleteNote" method="post" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-danger btn-sm" asp-controller="Vuln" asp-action="DeleteNote" asp-route-id="@note.Id" asp-route-vuln="@Model.Vuln.Id" localize-content><i class="fas fa-trash"></i> Delete </button>
                        </form>
                    </td>
                }

            </tr>
        }

        </tbody>
        <!--Table body-->
    </table>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addNoteModal" localize-content>
        Add Note
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNoteModalLabel" localize-content>Add Note to Vuln</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="AddNote" method="post" enctype="multipart/form-data">
                    <div class="modal-body">

                        <input asp-for="@Model.Vuln.Id" type="hidden" id="vulnId" name="vulnId"/>

                        <div class="form-group">
                            <label class="control-label" localize-content>Name</label>
                            <input type="text" class="form-control" id="noteName" name="noteName"/>
                        </div>

                        <div class="form-group">
                            <label class="control-label" localize-content>Description</label>
                            <textarea class="form-control" id="noteDescription" name="noteDescription"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label" localize-content>Visibility</label>
                            @Html.DropDownListFor(model => model.Visibility, Html.GetEnumSelectList<Visibility>(), new {@class = "form-control"})
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-content>Close</button>
                        <button type="submit" class="btn btn-success">Add</button>

                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<div class="tab-pane" id="attachments">
    <table id="attachmentsResults" class="table table-bordered table-hover projects" width="100%">
        <!--Table head-->
        <thead class="thead-dark">
        <tr>
            <th>
                <i class="fas fa-file"></i> <span localize-content>Name</span>
            </th>
            <th>
                <i class="fas fa-download"></i> <span localize-content>File</span>
            </th>
            <th>
                <i class="fas fa-user"></i> <span localize-content>Uploaded by</span>
            </th>
            <th>
                <i class="fas fa-cog"></i> <span localize-content>Options</span>
            </th>
        </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody>

        @foreach (var attachment in Model.Attachments)
        {
            <tr>
                <td>@attachment.Name</td>
                <td>
                    <a href="@Url.Content(@attachment.FilePath)" target="_blank">
                        <i class="fas fa-download"></i> @attachment.Name
                    </a>
                </td>
                <td>@attachment.User.FullName</td>
                @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                {
                    <td>
                        <form asp-action="DeleteAttachment" method="post" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-danger btn-sm" asp-controller="Vuln" asp-action="DeleteAttachment" asp-route-id="@attachment.Id" asp-route-vuln="@Model.Vuln.Id" localize-content><i class="fas fa-trash"></i> Delete </button>
                        </form>
                    </td>
                }

            </tr>
        }

        </tbody>
        <!--Table body-->
    </table>


    @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
    {
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addAttachmentModal" localize-content>
            Add Attachment
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="addAttachmentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAttachmentModalLabel" localize-content>Add Attachment to Vuln</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form asp-action="AddAttachment" method="post" enctype="multipart/form-data">
                        <div class="modal-body">

                            <input asp-for="@Model.Vuln.Id" type="hidden" id="vulnId" name="vulnId"/>

                            <div class="form-group">
                                <label class="control-label" localize-content>Name</label>
                                <input type="text" class="form-control" id="attachmentName" name="attachmentName"/>
                            </div>

                            <div class="form-group">
                                <label for="upload" localize-content>Select File</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="upload" name="upload">
                                        <label class="custom-file-label" for="upload" localize-content>Choose File</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-content>Close</button>
                            <button type="submit" class="btn btn-success" localize-content>Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.JiraEnabled == true)
{
    <div class="tab-pane" id="jira">
    @if (Model.Vuln.JiraCreated == false)
    {
        <form asp-area="" asp-controller="Jira" asp-action="CreateIssue" method="post" enctype="multipart/form-data">
            <input asp-for="@Model.Vuln.Id" type="hidden" id="vulnId" name="vulnId" value="@Model.Vuln.Id"/>
            <button type="submit" class="btn btn-dark"><i class="fab fa-jira"></i> Create</button>
        </form>
    }
    else
    {
        @if (Model.Jira != null)
        {
            <div class="text-right">
                <div class="btn-group">
                    <form asp-area="" asp-controller="Jira" asp-action="UpdateIssue" method="post" enctype="multipart/form-data">
                        <input asp-for="@Model.Vuln.Id" type="hidden" id="vulnId" name="vulnId" value="@Model.Vuln.Id"/>
                        <button type="submit" class="btn btn-secondary"><i class="fas fa-undo-alt"></i> Update</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteJiraModal"><i class="fas fa-trash"></i> Delete</button>
                </div>
                
            </div>
            
            
            <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        
                        <div class="card ">
                    <div class="card-header bg-gray">
                        <h3 class="card-title">
                            <i class="fas fa-toolbox"></i>
                            <strong localize-content>General</strong>
                        </h3>
                    </div>
                    
                    <div class="card-body">
                        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                            <div class="row">
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fab fa-jira"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Jira Key</span>
                                            <span class="info-box-number">@Model.Jira.JiraKey</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-user"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Assignee</span>
                                            <span class="info-box-number">@Model.Jira.Assignee</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Priority</span>
                                            <span class="info-box-number">@Model.Jira.Priority</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-tasks"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Status</span>
                                            <span class="info-box-number">@Model.Jira.JiraStatus</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-user-lock"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Security Level</span>
                                            <span class="info-box-number">@Model.Jira.SecurityLevel</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-calendar"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Created Date</span>
                                            <span class="info-box-number">@Model.Jira.JiraCreatedDate</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-calendar-day"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Updated Date</span>
                                            <span class="info-box-number">@Model.Jira.JiraUpdatedDate</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-calendar-times"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Due Date</span>
                                            <span class="info-box-number">@Model.Jira.DueDate</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-check-circle"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Resolution</span>
                                            <span class="info-box-number">@Model.Jira.Resolution</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-calendar-check"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Resolution Date</span>
                                            <span class="info-box-number">@Model.Jira.ResolutionDate</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-tags"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Labels</span>
                                            <span class="info-box-number">@Model.Jira.Label</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box mb-3 " localize-content>
                                        <span class="info-box-icon ">
                                            <i class="fas fa-wrench"></i>
                                        </span>
                    
                                        <div class="info-box-content">
                                            <span class="info-box-text" localize-content>Components</span>
                                            <span class="info-box-number">@Model.Jira.JiraComponent</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                    
                            </div>
                    
                    
                    
                        </div>
                    
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                
                <div class="card ">
                    <div class="card-header bg-gray">
                        <h3 class="card-title">
                            <i class="fas fa-comments"></i>
                            <strong localize-content>Comments</strong>
                        </h3>
                    </div>
                        
                    <div class="card-body">
                         
                        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
                            <h2>Comments</h2>
                            <div class="accordion" id="comments">
                                <div class="card ">
                                    <div class="card-header" id="commentshead1">
                                        <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#comments1"
                                           aria-controls="comments1">
                                            <i class="nav-icon fas fa-comments"></i> <strong localize-content>Comments</strong> <span class="badge badge-danger">@Model.JiraComments.Count()</span> <i class="right fas fa-angle-left"></i>
                                        </a>
                                    </div>

                                    <div id="comments1" class="collapse" aria-labelledby="comments1" data-parent="#comments">
                                        <div class="card-body">

                                            @if (Model.JiraComments != null)
                                            {
                                                @foreach (var comment in Model.JiraComments)
                                                {
                                                    <div class="post">
                                                        <div class="user-block">
                                                            <img class="img-circle img-bordered-sm" src="~/img/user.png" alt="user image">
                                                            <span class="username">
                                                                <a href="#">@comment.Author</a>
                                                            </span>
                                                            <span class="description">@comment.CreatedDate</span>
                                                        </div>
                                                        <!-- /.user-block -->
                                                        <p>
                                                            @comment.Body
                                                        </p>
                                                    </div>
                                                }
                                            }


                                        </div>
                                    </div>
                                </div>

                                <h4>Add Comment to Issue</h4>
                                <form asp-area="" asp-controller="Jira" asp-action="AddComment" method="post" enctype="multipart/form-data">
                                    <input asp-for="@Model.Vuln.Id" type="hidden" id="vulnId" name="vulnId" value="@Model.Vuln.Id"/>
                                    <div class="form-group">
                                        <textarea id="commentDescription" name="commentDescription" class="form-control" rows="4"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-dark"><i class="fas fa-plus"></i> Add</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                        
            </div>
            </div>
               
        }
    }
    </div>
}


</div>
<!-- /.tab-content -->
</div><!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div><!-- /.container-fluid -->


</section>

<!-- Modal -->
<div class="modal fade" id="deleteJiraModal" tabindex="-1" role="dialog" aria-labelledby="deleteJiraModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="deleteJiraModalLabel">Delete Jira Issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                Are you sure you want to delete the Jira Issue?
                

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form asp-controller="Jira" asp-action="DeleteIssue" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Vuln.Id" id="vulnId" name="vulnId" value="@Model.Vuln.Id"/>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </form>
            </div>
            
        </div>
    </div>
</div>



@section Scripts{
    <script>
            $(document).ready(function () {
    
                    $('#noteResults').DataTable({
                        "responsive": true
                    });
                    $('#attachmentsResults').DataTable({
                        "responsive": true
                    });
    $('.dataTables_length').addClass('bs-select');
                    });
                    
               $(document).ready(function() {
                     $('#commentDescription').summernote({
                     height: 300,
                     });
                     });
                    
        
             $(document).ready(function () {
      bsCustomFileInput.init();
    });
    
    </script>


}