@model LogViewModel

@{
    ViewData["Title"] = "Application Logs";
}
@{
    if (TempData["exported"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>Logs exported successfully!</strong>

        </div>
    }

    if (TempData["errorExported"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>An error ocurred exporting the logs!</strong>

        </div>
    }

    if (TempData["logDeleted"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Logs deleted sucessfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    
    if (TempData["errorLogDeleted"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred deleting logs!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content>
                    <i class="fas fa-eye"></i> <span localize-content>Application Logs</span>
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Admin</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Application Logs</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

    <div class="card">
        <div class="card-body">


            <!--Table-->
            <table id="logResults" class="table table-bordered table-hover" width="100%">

                <!--Table head-->
                <thead class="thead-dark">
                <tr>
                    <th>
                        <i class="fas fa-id-badge"></i> <span localize-content>Id</span>
                    </th>
                    <th>
                        <i class="fas fa-calendar"></i> <span localize-content>Created on</span>
                    </th>
                    <th>
                        <i class="fas fa-level-up-alt"></i> <span localize-content>Level</span>
                    </th>
                    <th>
                        <i class="fas fa-comment"></i> <span localize-content>Message</span>
                    </th>
                    <th>
                        <i class="fas fa-fingerprint"></i> <span localize-content>Stack Trace</span>
                    </th>
                    <th>
                        <i class="fas fa-exclamation-circle"></i> <span localize-content>Exception</span>
                    </th>
                    <th>
                        <i class="fas fa-pen"></i> <span localize-content>Logger</span>
                    </th>
                    <th>
                        <i class="fas fa-at"></i> <span localize-content>Url</span>
                    </th>
                </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>

                @foreach (var log in Model.Logs)
                {
                    switch (log.Level)
                    {
                        case "Debug":
                            <tr>
                                <td>@log.Id</td>
                                <td>@log.CreatedOn</td>
                                <td>@log.Level</td>
                                <td>@log.Message</td>
                                <td>@log.StackTrace</td>
                                <td>@log.Exception</td>
                                <td>@log.Logger</td>
                                <td>@log.Url</td>
                            </tr>
                            break;
                        case "Info":
                            <tr class="bg-info">
                                <td class="bg-info">@log.Id</td>
                                <td class="bg-info">@log.CreatedOn</td>
                                <td class="bg-info">@log.Level</td>
                                <td class="bg-info">@log.Message</td>
                                <td class="bg-info">@log.StackTrace</td>
                                <td class="bg-info">@log.Exception</td>
                                <td class="bg-info">@log.Logger</td>
                                <td class="bg-info">@log.Url</td>

                            </tr>
                            break;
                        case "Error":
                            <tr class="bg-danger">
                                <td class="bg-danger">@log.Id</td>
                                <td class="bg-danger">@log.CreatedOn</td>
                                <td class="bg-danger">@log.Level</td>
                                <td class="bg-danger">@log.Message</td>
                                <td class="bg-danger">@log.StackTrace</td>
                                <td class="bg-danger">@log.Exception</td>
                                <td class="bg-danger">@log.Logger</td>
                                <td class="bg-danger">@log.Url</td>
                            </tr>
                            break;
                        case "Warn":
                            <tr class="bg-warning">
                                <td class="bg-warning">@log.Id</td>
                                <td class="bg-warning">@log.CreatedOn</td>
                                <td class="bg-warning">@log.Level</td>
                                <td class="bg-warning">@log.Message</td>
                                <td class="bg-warning">@log.StackTrace</td>
                                <td class="bg-warning">@log.Exception</td>
                                <td class="bg-warning">@log.Logger</td>
                                <td class="bg-warning">@log.Url</td>
                            </tr>
                            break;
                        default:
                            <tr>
                                <td>@log.Id</td>
                                <td>@log.CreatedOn</td>
                                <td>@log.Level</td>
                                <td>@log.Message</td>
                                <td>@log.StackTrace</td>
                                <td>@log.Exception</td>
                                <td>@log.Logger</td>
                                <td>@log.Url</td>
                            </tr>
                            break;
                    }
                }




                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
            <a asp-area="" asp-controller="Log" asp-action="Export" localize-content class="btn btn-primary btn-sm">
                <i class="nav-icon fas fa-download"></i>
                <p localize-content>Export</p>
            </a>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
               <i class="nav-icon fas fa-trash"></i>
                <p localize-content>Delete</p>
            </button>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete the logs?
                  </div>
                    <div class="modal-footer">
                        <form asp-area="" asp-controller="Log" asp-action="Delete" method="post" enctype="multipart/form-data">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><span localize-content>Close</span></button>
                            <button type="submit" class="btn btn-danger"><span localize-content>Yes</span></button>
                        </form>
                    </div>
                </div>
              </div>
            </div>

        </div>

    </div>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

@section Scripts{
    <script>

    $(document).ready(function () {
        $('#logResults').DataTable({
            "responsive": true,
            order: [[0, 'desc']]
        }
                    );
        $('.dataTables_length').addClass('bs-select');
    });


</script>
}