@using Cervantes.CORE
@using System.Globalization
@model IEnumerable<Cervantes.CORE.Project>

@{
    ViewData["Title"] = "Workspaces";
}

@{
    if (TempData["userProject"] != null)
    {
        <div class="alert alert-warning alert-dismissible">
            <strong localize-content><i class="fas fa-exclamation-circle"></i> You are not included in the project!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-building"></i> <span localize-content>My Workspaces</span></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Workspaces</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

    <div class="col-md-12">
        <div class="row">
            @foreach (var project in Model)
            {
                <div class="col-md-3">


                    <div class="card card-dark card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="img-fluid img-circle"
                                     src="@Url.Content(project.Client.ImagePath)"
                                     alt="LogoClient" style="height:200px;">
                            </div>
                            <h3 class="profile-username text-center">@project.Name</h3>
                            <div class="text-center">
                                @switch (project.Status)
                                {
                                    case ProjectStatus.Active:
                                        <h4>
                                            <span class="badge badge-success" localize-content>@project.Status</span>
                                        </h4>
                                        break;
                                    case ProjectStatus.Archived:
                                        <h4>
                                            <span class="badge badge-secondary" localize-content>@project.Status</span>
                                        </h4>
                                        break;
                                    case ProjectStatus.Waiting:
                                        <h4>
                                            <span class="badge badge-info" localize-content>@project.Status</span>
                                        </h4>
                                        break;
                                    default:
                                        <h4>
                                            <span class="badge badge-light">@project.Status</span>
                                        </h4>
                                        break;
                                }
                                
                                @{
                                    var progress = Math.Round((((DateTime.Today - @project.StartDate) / (@project.EndDate - @project.StartDate)) * 100));
                                    
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: @progress%;" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100">@progress %</div>
                                    </div>
                                }
                                

                                <a class="btn btn-dark" asp-area="Workspace" asp-controller="Home" asp-action="Index" asp-route-project="@project.Id" asp-route-culture="@CultureInfo.CurrentCulture.Name" localize-content><i class="fas fa-building"></i> View</a>

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            }
        </div>
    </div>

</section>
<!-- /.content -->
<!-- /.content-wrapper -->

@section Scripts{
    <script>



</script>
}