@using System.Net
@using Cervantes.CORE
@model Cervantes.Web.Areas.Workspace.Models.TargetServiceViewModel

@{
    ViewData["Title"] = "Service Details";
}

@{
    if (TempData["addedNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Note added to task successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["deletedNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Note deleted from task successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["addedAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Attachment added to task successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["deletedAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Attachment deleted from task successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["errorAttachment"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error was produced adding an Attachment!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content>
                    <i class="fas fa-folder"></i> @Model.Project.Name
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="" asp-controller="Workspaces" asp-action="Index" localize-content>Workspaces</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="Workspace" asp-controller="Target" asp-action="Index" localize-content>Target</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Service</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-dark card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            @switch (Model.Target.Type)
                            {
                                case TargetType.IP:
                                    <span class="profile-user-img img-fluid img-circle">
                                        <i class="fas fa-ethernet"></i>
                                    </span>
                                    break;
                                case TargetType.Hostname:
                                    <span class="profile-user-img img-fluid img-circle">
                                        <i class="fas fa-compass"></i>
                                    </span>
                                    break;
                                case TargetType.CIDR:
                                    <span class="profile-user-img img-fluid img-circle">
                                        <i class="fas fa-network-wired"></i>
                                    </span>
                                    break;
                                case TargetType.URL:
                                    <span class="profile-user-img img-fluid img-circle">
                                        <i class="fas fa-at"></i>
                                    </span>
                                    break;
                                case TargetType.Binary:
                                    <span class="profile-user-img img-fluid img-circle">
                                        <i class="fas fa-file-alt"></i>
                                    </span>
                                    break;
                                default:
                                    <span class="profile-user-img img-fluid img-circle"></span>
                                    break;
                            }
                        </div>

                        <h3 class="profile-username text-center">@Model.Target.Name</h3>
                        
                        <div class="info-box mb-3 bg-light">
                            <span class="info-box-icon bg-dark">
                                <i class="fas fa-user"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text" localize-content>Created by</span>
                                <span class="info-box-number">@Html.DisplayFor(model => model.Target.User.FullName)</span>
                            </div>
                        </div>
                        
                        <div class="info-box mb-3 bg-light">
                            <span class="info-box-icon bg-gray">
                                <i class="fas fa-align-left"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text" localize-content>Description</span>
                                <span class="info-box-number">@Html.DisplayFor(model => model.Target.Description)</span>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.card-body -->
                </div>
                <a class="btn btn-light" asp-area="Workspace" asp-controller="Target" asp-action="Details" asp-route-project="@Model.Project.Id" asp-route-id="@Model.Target.Id" localize-content>Back</a>
                <a class="btn btn-outline-warning" asp-area="Workspace" asp-controller="Target" asp-action="EditService" asp-route-project="@Model.Project.Id" asp-route-id="@Model.TargetService.Id" localize-content>Edit</a>
                
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-dark card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#details" data-toggle="pill">
                                    
                                    <i class="fas fa-eye"></i> <span localize-content>Services</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">

                            <div class="active tab-pane" id="details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card bg-light">
                                            <div class="card-header bg-gray">
                                                <h3 class="card-title">
                                                    <i class="fas fa-server"></i>
                                                    <strong localize-content>Name</strong>
                                                </h3>
                                            </div>
                                                                                                                                
                                            <div class="card-body">
                                                @Model.TargetService.Name
                                            </div>
                                                                                                                                
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="card bg-light">
                                            <div class="card-header bg-gray">
                                                <h3 class="card-title">
                                                    <i class="fas fa-code-branch"></i>
                                                    <strong localize-content>Version</strong>
                                                </h3>
                                            </div>
                                                                                                                                                                        
                                            <div class="card-body">
                                                @Model.TargetService.Version
                                            </div>
                                                                                                                                                                        
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="card bg-light">
                                            <div class="card-header bg-gray">
                                                <h3 class="card-title">
                                                    <i class="fas fa-network-wired"></i>
                                                    <strong localize-content>Port</strong>
                                                </h3>
                                            </div>
                                                                                                                                                                                                            
                                            <div class="card-body">
                                                @Model.TargetService.Port
                                            </div>
                                                                                                                                                                                                            
                                        </div>
                                                                            
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <div class="card bg-light">
                                            <div class="card-header bg-gray">
                                                <h3 class="card-title">
                                                    <i class="fas fa-align-left"></i>
                                                    <strong localize-content>Description</strong>
                                                </h3>
                                            </div>
                                                                                                                                                                    
                                            <div class="card-body">
                                                @Html.Raw(@WebUtility.HtmlDecode(Model.TargetService.Description))
                                            </div>
                                                                                                                                                                    
                                        </div>
                                                                            
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <div class="card bg-light">
                                            <div class="card-header bg-gray">
                                                <h3 class="card-title">
                                                    <i class="fas fa-sticky-note"></i>
                                                    <strong localize-content>Note</strong>
                                                </h3>
                                            </div>
                                                                                                                                                                                                        
                                            <div class="card-body">
                                                @Html.Raw(@WebUtility.HtmlDecode(Model.TargetService.Note))
                                            </div>
                                                                                                                                                                                                        
                                        </div>
                                                                                                                
                                    </div>
                                    
                                    
                                    
                                    
                                    

                                </div>


                            </div>
                            <!-- /.tab-pane -->

                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->


</section>


@section Scripts{
    <script>

    $(document).ready(function () {
        $('#servicesResults').DataTable({
            "responsive": true
        });

        });
        $('.dataTables_length').addClass('bs-select');

         $(document).ready(function () {
  bsCustomFileInput.init();
});

</script>
}