@using System.Net
@using Cervantes.CORE
@model VaultViewModel

@{
    ViewData["Title"] = "Data Vault Details";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content>
                    <i class="fas fa-key"></i> @Model.Name
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="" asp-controller="Workspaces" asp-action="Index" localize-content>Workspace</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="Workspace" asp-controller="Home" asp-action="Index" asp-route-project="@Model.Project.Id" localize-content>@Model.Project.Name</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="Workspace" asp-controller="Vault" asp-action="Index" localize-content>Target</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>@Model.Name</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-dark card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <i class="fas fa-key fa-5x"></i>
                            <br/>
                            @switch (@Model.Type)
                            {
                                case VaultType.Key:
                                    <td>
                                        <span class="badge badge-success">@Model.Type</span>
                                    </td>
                                    break;
                                case VaultType.Note:
                                    <td>
                                        <span class="badge badge-secondary">@Model.Type</span>
                                    </td>
                                    break;
                                case VaultType.Other:
                                    <td>
                                        <span class="badge badge-light">@Model.Type</span>
                                    </td>
                                    break;
                                case VaultType.Password:
                                    <td>
                                        <span class="badge badge-info">@Model.Type</span>
                                    </td>
                                    break;
                                case VaultType.Token:
                                    <td>
                                        <span class="badge badge-dark">@Model.Type</span>
                                    </td>
                                    break;
                                case VaultType.User:
                                    <td>
                                        <span class="badge badge-light">@Model.Type</span>
                                    </td>
                                    break;
                            }

                        </div>

                        <h3 class="profile-username text-center">@Model.Name</h3>
                        <div class="info-box mb-3 ">
                            <span class="info-box-icon bg-info">
                                <i class="fas fa-user"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text" localize-content>Created by</span>
                                <span class="info-box-number">@Model.User.FullName</span>
                            </div>
                        </div>
                        <div class="info-box mb-3 ">
                            <span class="info-box-icon bg-success">
                                <i class="fas fa-calendar"></i>
                            </span>
                            <div class="info-box-content">
                                <span class="info-box-text" localize-content>Created Date</span>
                                <span class="info-box-number">@Model.CreatedDate.ToShortDateString()</span>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <a class="btn btn-light" asp-area="Workspace" asp-controller="Target" asp-action="Index" asp-route-project="@Model.Project.Id" localize-content>Back</a>
                <a class="btn btn-outline-warning" asp-area="Workspace" asp-controller="Vault" asp-action="Edit" asp-route-project="@Model.Project.Id" asp-route-id="@Model.Id" localize-content>Edit</a>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-dark card-tabs">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#details" data-toggle="pill">
                                    <i class="fas fa-eye"></i> <span localize-content>Details</span>
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">

                            <div class="active tab-pane" id="details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card ">
                                            <div class="card-header bg-gray">
                                                <h3 class="card-title">
                                                    <i class="fas fa-align-left"></i>
                                                    <strong localize-content>Description</strong>
                                                </h3>
                                            </div>
                                                                                
                                            <div class="card-body">
                                                @Html.Raw(@WebUtility.HtmlDecode(Model.Description))
                                            </div>
                                                                                
                                        </div>
                                                                                
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <div class="card ">
                                            <div class="card-header bg-gray">
                                                <h3 class="card-title">
                                                    <i class="fas fa-key"></i>
                                                    <strong localize-content>Value</strong>
                                                </h3>
                                            </div>
                                                                                
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="password" asp-for="Value" value="@Model.Value" class="form-control" id="valueTxt" disabled>
                                                        <div class="input-group-append">
                                                            <div class="input-group-text">
                                                                <span class="fas fa-eye" onclick="showValue()"> Show</span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                                                                
                                        </div>
                                                                                
                                    </div>
                                    
                                    
                                </div>



                            </div>
                            <!-- /.tab-pane -->

                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->


</section>


@section Scripts{
    <script>

        
         $(document).ready(function() {
                  $('#description').summernote({
                  height: 300,
                  callbacks: {
                          onImageUpload: function(image) {
                              uploadImage(image[0]);
                          }
                          }
                  });
                  });
                
                function uploadImage(image) {
                    var data = new FormData();
                    data.append("image", image);
                    $.ajax({
                        url: '@Url.Action("UploadVault", "Image", new {Area = ""})',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: data,
                        type: "post",
                        success: function(FileUrl) {
                            var imgNode = document.createElement('img');  
                            imgNode.src = FileUrl;  
                            $('#description').summernote('insertNode', imgNode); 
                        },
                        error: function(data) {
                            alert(data.responseText); 
                        }
                    });
                }
                function showValue() {
                  var x = document.getElementById("valueTxt");
                  if (x.type === "password") {
                    x.type = "text";
                  } else {
                    x.type = "password";
                  }
                }
                
           
</script>
}