@using System.Net
@using Cervantes.CORE
@model VulnDetailsViewModel

@{
    ViewData["Title"] = "Vuln Details";
}

@{

    if (TempData["addedNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Note added to task successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["deletedNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Note deleted from task successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["addedAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Attachment added to task successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

     if (TempData["deletedAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Attachment deleted from task successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["errorAttachment"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error was produced adding an Attachment!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 localize-content><i class="fas fa-bug"></i> @Model.Vuln.Name</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" localize-content>Home</a></li>
              <li class="breadcrumb-item" localize-content>Workspace</li>
              <li class="breadcrumb-item" localize-content>@Model.Project.Name</li>
              <li class="breadcrumb-item" localize-content>Vuln</li>
              <li class="breadcrumb-item" localize-content>Details</li>
              <li class="breadcrumb-item active" localize-content></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
      <hr />
    </section>
    
    <!-- Main content -->
    <section class="content">

        <div class="container-fluid">
            <div class="row">
              <div class="col-md-2">
    
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                  <div class="card-body box-profile">
                    <div class="text-center">
                        <span class="img-fluid img-circle"><i class="fas fa-bug fa-3x"></i></span>
                    </div>
    
                      <h3 class="profile-username text-center">@Model.Vuln.Name</h3>     
  
                                              <div class="info-box mb-3">
                                                  <span class="info-box-icon bg-info"><i class="fas fa-user"></i></span>
                                                                                            
                                                  <div class="info-box-content">
                                                      <span class="info-box-text" localize-content>Created by</span>
                                                      <span class="info-box-number">@Model.Vuln.User.FullName</span>
                                                  </div>
                                                  <!-- /.info-box-content -->
                                              </div>
                                              <div class="info-box mb-3">
                                                  <span class="info-box-icon bg-warning"><i class="fas fa-project-diagram"></i></span>
                                                                                                                    
                                                  <div class="info-box-content">
                                                      <span class="info-box-text" localize-content>Category</span>
                                                      <span class="info-box-number">@Model.Vuln.VulnCategory.Name</span>
                                                  </div>
                                                  <!-- /.info-box-content -->
                                              </div>
                                              <div class="info-box mb-3">
                                                  <span class="info-box-icon bg-gray"><i class="fas fa-virus"></i></span>
                                                  <div class="info-box-content">
                                                      <span class="info-box-text" localize-content>CVE</span>
                                                      <span class="info-box-number">@Model.Vuln.cve</span>
                                                  </div>
                                                  <!-- /.info-box-content -->
                                              </div>
                                              <div class="info-box mb-3">
                                                  <span class="info-box-icon bg-maroon"><i class="fas fa-radiation-alt"></i></span>
                                                  <div class="info-box-content">
                                                      <span class="info-box-text" localize-content>CVSS3 Score</span>
                                                      <span class="info-box-number">
                                                          @if(Model.Vuln.CVSS3 <= 2)
                                                          {
                                                              <span class="badge badge-info"><i class="fas fa-info-circle"></i> @Model.Vuln.CVSS3</span>
                                                                                                             
                                                          }
                                                          else if (Model.Vuln.CVSS3 > 2 && Model.Vuln.CVSS3 <= 4)
                                                          {
                                                              <span class="badge badge-success"><i class="fas fa-exclamation"></i> @Model.Vuln.CVSS3</span>
                                                          }
                                                          else if (Model.Vuln.CVSS3 > 4 && Model.Vuln.CVSS3 <= 6)
                                                          {
                                                              <span class="badge badge-warning"><i class="fas fa-exclamation"></i> @Model.Vuln.CVSS3</span>
                                                          }
                                                          else if (Model.Vuln.CVSS3 > 6 && Model.Vuln.CVSS3 <= 8)
                                                          {
                                                              <span class="badge badge-danger"><i class="fas fa-exclamation-circle"></i> @Model.Vuln.CVSS3</span>
                                                          }
                                                          else if (Model.Vuln.CVSS3 > 8 && Model.Vuln.CVSS3< 11)
                                                          {
                                                              <span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i> @Model.Vuln.CVSS3</span>
                                                          }
                                                      </span>
                                                  </div>
                                                  <!-- /.info-box-content -->
                                              </div>
                      <div class="info-box mb-3">
                          <span class="info-box-icon bg-danger"><i class="fas fa-biohazard"></i></span>
                          <div class="info-box-content">
                              <span class="info-box-text" localize-content>Risk</span>
                              <span class="info-box-number">
                                  @switch(@Model.Vuln.Risk)
                                  {
                                      case VulnRisk.Info:
                                          <span class="badge badge-info"><i class="fas fa-info-circle"></i> @Model.Vuln.Risk</span>
                                          break;
                                      case VulnRisk.Low:
                                          <span class="badge badge-success"><i class="fas fa-exclamation"></i> @Model.Vuln.Risk</span>
                                          break;
                                      case VulnRisk.Medium:
                                          <span class="badge badge-warning"><i class="fas fa-exclamation"></i> @Model.Vuln.Risk</span>
                                          break;
                                      case VulnRisk.High:
                                          <span class="badge badge-danger"><i class="fas fa-exclamation-circle"></i> @Model.Vuln.Risk</span>
                                          break;
                                      case VulnRisk.Critical:
                                          <span class="badge badge-danger"><i class="fas fa-exclamation-triangle"></i> @Model.Vuln.Risk</span>
                                          break;
                                      default:
                                          <span class="badge badge-light">@Model.Vuln.Risk</span>
                                          break;
                                                                                                 
                                  }
                              </span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <div class="info-box mb-3">
                          <span class="info-box-icon bg-teal"><i class="fas fa-tasks"></i></span>
                          <div class="info-box-content">
                              <span class="info-box-text" localize-content>Status</span>
                              <span class="info-box-number">@Model.Vuln.Status</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      
                                              <div class="info-box mb-3">
                                                  <span class="info-box-icon bg-orange"><i class="fas fa-bullseye"></i></span>
                                                  <div class="info-box-content">
                                                      <span class="info-box-text" localize-content>Target</span>
                                                      <span class="info-box-number">@Model.Vuln.Target.Name</span>
                                                  </div>
                                                  <!-- /.info-box-content -->
                                              </div>
                      

                      
                


                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
                 <a class="btn btn-default" asp-area="Workspace" asp-controller="Vuln" asp-action="Index" localize-content>Back</a>
                  @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                  {
                      <a class="btn btn-outline-warning" asp-area="Workspace" asp-controller="Vuln" asp-action="Edit" asp-route-project="@Model.Project.Id" asp-route-id="@Model.Vuln.Id" localize-content><i class="fas fa-edit"></i> Edit</a>
                                
                  }
              </div>
              <!-- /.col -->
              <div class="col-md-10">
                <div class="card">
                  <div class="card-header p-2">
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link active" href="#details" data-toggle="tab"><span localize-content>Details</span></a></li> 
                      <li class="nav-item"><a class="nav-link" href="#exploitation" data-toggle="tab"><span localize-content>Exploitation</span></a></li>   
                      <li class="nav-item"><a class="nav-link" href="#remediation" data-toggle="tab"><span localize-content>Remediation</span></a></li>   
                      <li class="nav-item"><a class="nav-link" href="#notes" data-toggle="tab"><span localize-content>Notes</span></a></li>
                      <li class="nav-item"><a class="nav-link" href="#attachments" data-toggle="tab"><span localize-content>Attachments</span></a></li>   
                    </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                     
                      <div class="active tab-pane" id="details">
                        <dt> <p localize-content>Description</p></dt>
                        <hr>
                        <dd>@Html.Raw(@WebUtility.HtmlDecode(Model.Vuln.Description))</dd>

                        <dt> <p localize-content>Impact</p></dt>
                        <hr>
                        <dd>@Html.Raw(@WebUtility.HtmlDecode(Model.Vuln.Impact))</dd>
                      
                      </div>
                      <!-- /.tab-pane -->

                      <div class="tab-pane" id="exploitation">
                        <dt> <p localize-content>Proof Of Concept</p></dt>
                        <hr>
                        <dd>@Html.Raw(@WebUtility.HtmlDecode(Model.Vuln.ProofOfConcept))</dd>

                      </div>

                      <div class="tab-pane" id="remediation">
                        <dt> <p localize-content>Remediation</p></dt>
                        <hr>
                        <dd>@Html.Raw(@WebUtility.HtmlDecode(Model.Vuln.Remediation))</dd>

                        <dt> <p localize-content>Complexity</p></dt>
                        <hr>
                        <dd>@Html.DisplayFor(model => model.Vuln.RemediationComplexity)</dd>

                        <dt> <p localize-content>Priority</p></dt>
                        <hr>
                        <dd>@Html.DisplayFor(model => model.Vuln.RemediationPriority)</dd>
                      </div>




                      <div class="tab-pane" id="notes">
                         <table id="noteResults" class="table table-bordered table-hover projects" width="100%">
                            <!--Table head-->
                            <thead class="thead-dark">
                                <tr>
                                   <th><i class="fas fa-sticky-note"></i> <span localize-content>Name</span></th>
                                    <th><i class="fas fa-align-left"></i> <span localize-content>Description</span></th>
                                    <th><i class="fas fa-user"></i> <span localize-content>Created by</span></th>
                                    <th><i class="fas fa-eye"></i> <span localize-content>Visibility</span></th>
                                    <th><i class="fas fa-cog"></i> <span localize-content>Options</span></th>
                                    
                          
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>

                                @foreach (var note in Model.Notes)
                                {
                             <tr>
                                        <td>@note.Name</td>
                                        <td>@Html.Raw(@WebUtility.HtmlDecode(note.Description))</td>
                                        <td>@note.User.FullName</td>
                                        <td>@note.Visibility</td>
                                         @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                                            {
                                                <td>
                                                    <form asp-action="DeleteNote" method="post" enctype="multipart/form-data">
                                                        <button type="submit" class="btn btn-danger btn-sm" asp-controller="Vuln" asp-action="DeleteNote" asp-route-project="@Model.Vuln.ProjectId" asp-route-id="@note.Id" asp-route-vuln="@Model.Vuln.Id" localize-content><i class="fas fa-trash"></i> Delete </button>
                                                    </form>
                                                </td>

                                            }

                                    </tr>
                                }

                            </tbody>
                            <!--Table body-->
                        </table>


                              <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addNoteModal" localize-content>
                              Add Note
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="addNoteModalLabel" localize-content>Add Note to Vuln</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form asp-action="AddNote" method="post" enctype="multipart/form-data">
                                  <div class="modal-body">

                                    <input asp-for="@Model.Project.Id" type="hidden" id="project" name="project"/>
                                    <input asp-for="@Model.Vuln.Id" type="hidden" id="vulnId" name="vulnId"/>

                                     <div class="form-group">
                                        <label class="control-label" localize-content>Name</label>
                                        <input type="text" class="form-control"  id="noteName" name="noteName"/>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" localize-content>Description</label>
                                        <textarea class="form-control" id="noteDescription" name="noteDescription"></textarea>
                                    </div>

                                   <div class="form-group">
                                        <label class="control-label" localize-content>Visibility</label>
                                        @Html.DropDownListFor(model => model.Visibility, Html.GetEnumSelectList<Visibility>(),new { @class = "form-control" })
                                    </div>  
                                    
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-content>Close</button>
                                      <button type="submit" class="btn btn-success">Add</button>
                                    
                                  </div>
                                   </form>
                                </div>
                              </div>
                            </div>
                              

                            
                      </div>

                      <div class="tab-pane" id="attachments">
                        <table id="attachmentsResults" class="table table-bordered table-hover projects" width="100%">
                            <!--Table head-->
                            <thead class="thead-dark">
                                <tr>
                                    <th><i class="fas fa-file"></i> <span localize-content>Name</span></th>
                                    <th><i class="fas fa-download"></i> <span localize-content>File</span></th>
                                    <th><i class="fas fa-user"></i> <span localize-content>Uploaded by</span></th>
                                    <th><i class="fas fa-cog"></i> <span localize-content>Options</span></th>
                                    
                                </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>

                                @foreach (var attachment in Model.Attachments)
                                {
                             <tr>
                                        <td>@attachment.Name</td>
                                 <td><a href="@Url.Content(@attachment.FilePath)" target="_blank">
                                     <i class="fas fa-download"></i> @attachment.Name
                                 </a>
                                     </td>
                                        <td>@attachment.User.FullName</td>
                                         @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                                            {
                                                <td>
                                                    <form asp-action="DeleteAttachment" method="post" enctype="multipart/form-data">
                                                        <button type="submit" class="btn btn-danger btn-sm" asp-controller="Vuln" asp-action="DeleteAttachment" asp-route-project="@Model.Vuln.ProjectId" asp-route-id="@attachment.Id" asp-route-vuln="@Model.Vuln.Id" localize-content><i class="fas fa-trash"></i> Delete </button>
                                                    </form>
                                                </td>

                                            }

                                    </tr>
                                }

                            </tbody>
                            <!--Table body-->
                        </table>


                            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                          {
                              <!-- Button trigger modal -->
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addAttachmentModal" localize-content>
                              Add Attachment
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="addAttachmentModal" tabindex="-1" role="dialog" aria-labelledby="addAttachmentModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="addAttachmentModalLabel" localize-content>Add Attachment to Vuln</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <form asp-action="AddAttachment" method="post" enctype="multipart/form-data">
                                  <div class="modal-body">

                                    <input asp-for="Project.Id" type="hidden" id="project" name="project"/>
                                    <input asp-for="@Model.Vuln.Id" type="hidden" id="vulnId" name="vulnId"/>

                                     <div class="form-group">
                                        <label class="control-label" localize-content>Name</label>
                                        <input type="text" class="form-control"  id="attachmentName" name="attachmentName"/>
                                    </div>

                                               <div class="form-group">
                                               <label for="upload" localize-content>Select File</label>
                                                <div class="input-group">
                                                  <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="upload" name="upload">
                                                    <label class="custom-file-label" for="upload" localize-content>Choose File</label>
                                                  </div>

                                                </div>
                                         </div>
                                    
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal" localize-content>Close</button>
                                      <button type="submit" class="btn btn-success" localize-content>Add</button>
                                  </div>
                                   </form>
                                </div>
                              </div>
                            </div>
                              

                            }
                      </div>

                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div><!-- /.container-fluid --> 
    



</section>

           
  @section Scripts{
<script>

    $(document).ready(function () {
        
        $('#attachmentsResults').DataTable({
            "responsive": true
        });
        
        $('#noteResults').DataTable({
                    "responsive": true
                });
     
        $('.dataTables_length').addClass('bs-select');
    });

         $(document).ready(function () {
  bsCustomFileInput.init();
});

</script>
}                       

