@using Cervantes.CORE
@model Cervantes.Web.Areas.Workspace.Models.VulnViewModel

@{
    ViewData["Title"] = "Vulnerabilities";
}
@{
    if (TempData["deletedVuln"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>Vuln deleted successfully!</strong>

        </div>
    }

    if (TempData["addedVuln"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>Vuln created successfully!</strong>

        </div>
    }

    

    if (TempData["errorVuln"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>An error ocurred loading the Vuln!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["editedNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Vuln note edited successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["addedNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Vuln note added successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["deletedNote"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Vuln note edited successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["editedAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Vuln attachment edited successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["addedAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Vuln attachment added successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["deletedAttachment"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Vuln attachment edited successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-bug"></i> Vulnerabilities</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content><a asp-area="" asp-controller="Workspaces" asp-action="Index">Workspace</a></li>
                    <li class="breadcrumb-item" localize-content><a asp-area="Workspace" asp-controller="Home" asp-action="Index" asp-route-project="@Model.Project.Id">@Model.Project.Name</a></li>
                    <li class="breadcrumb-item active" localize-content>Vulns</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-body">

            @if (Model.Project.Score == Score.CVSS)
            {
                <!--Table-->
                <table id="vulnResults" class="table table-bordered table-hover" width="100%">
                    <!--Table head-->
                    <thead class="thead-dark">
                    <tr>
                        <th>
                            <i class="fas fa-id-badge"></i> <span localize-content>Id</span>
                        </th>
                        
                        <th>
                            <i class="fas fa-bug"></i> <span localize-content>Name</span>
                        </th>
                        <th>
                            <i class="fas fa-virus"></i> <span localize-content>CVE</span>
                        </th>
                        <th>
                            <i class="fas fa-radiation-alt"></i> <span localize-content>CVSS3 Score</span>
                        </th>
                        <th>
                            <i class="fas fa-biohazard"></i> <span localize-content>Risk</span>
                        </th>
                        <th>
                            <i class="fas fa-tasks"></i> <span localize-content>Status</span>
                        </th>
                        <th>
                            <i class="fas fa-project-diagram"></i> <span localize-content>Category</span>
                        </th>
                        <th>
                            <i class="fas fa-calendar"></i> <span localize-content>Created Date</span>
                        </th>
                        <th>
                            <i class="fas fa-user"></i> <span localize-content>Created by</span>
                        </th>
                        <th>
                            <i class="fas fa-cog"></i> <span localize-content>Options</span>
                        </th>
                    </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>

                    @foreach (var vuln in Model.Vulns)
                    {
                        <tr>
                        <td>@vuln.FindingId</td>
                            <td>@vuln.Name</td>
                            <td>@vuln.cve</td>
                            @if (@vuln.CVSS3 <= 2)
                            {
                                <td>
                                    <span class="badge badge-info">
                                        <i class="fas fa-info-circle"></i> @vuln.CVSS3.ToString()
                                    </span>
                                </td>
                            }
                            else if (vuln.CVSS3 > 2 && vuln.CVSS3 <= 4)
                            {
                                <td>
                                    <span class="badge badge-success">
                                        <i class="fas fa-exclamation"></i> @vuln.CVSS3.ToString()
                                    </span>
                                </td>
                            }
                            else if (vuln.CVSS3 > 4 && vuln.CVSS3 <= 6)
                            {
                                <td>
                                    <span class="badge badge-warning">
                                        <i class="fas fa-exclamation"></i> @vuln.CVSS3.ToString()
                                    </span>
                                </td>
                            }
                            else if (vuln.CVSS3 > 6 && vuln.CVSS3 <= 8)
                            {
                                <td>
                                    <span class="badge badge-danger">
                                        <i class="fas fa-exclamation-circle"></i> @vuln.CVSS3.ToString()
                                    </span>
                                </td>
                            }
                            else if (vuln.CVSS3 > 8 && vuln.CVSS3 < 11)
                            {
                                <td>
                                    <span class="badge badge-danger">
                                        <i class="fas fa-exclamation-triangle"></i> @vuln.CVSS3.ToString()
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="badge badge-danger">
                                        @vuln.CVSS3.ToString()
                                    </span>
                                </td>
                            }
                            @switch (@vuln.Risk)
                            {
                                case VulnRisk.Info:
                                    <td>
                                        <span class="badge badge-info">
                                            <i class="fas fa-info-circle"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                case VulnRisk.Low:
                                    <td>
                                        <span class="badge badge-success">
                                            <i class="fas fa-exclamation"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                case VulnRisk.Medium:
                                    <td>
                                        <span class="badge badge-warning">
                                            <i class="fas fa-exclamation"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                case VulnRisk.High:
                                    <td>
                                        <span class="badge badge-danger">
                                            <i class="fas fa-exclamation-circle"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                case VulnRisk.Critical:
                                    <td>
                                        <span class="badge badge-danger">
                                            <i class="fas fa-exclamation-triangle"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                default:
                                    <td>
                                        <span class="badge badge-light">@vuln.Risk</span>
                                    </td>
                                    break;
                            }
                            @switch (vuln.Status)
                            {
                                case VulnStatus.Open:
                                    <td>
                                        <span class="badge badge-info">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.Confirmed:
                                    <td>
                                        <span class="badge badge-danger">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.Accepted:
                                    <td>
                                        <span class="badge badge-warning">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.Resolved:
                                    <td>
                                        <span class="badge badge-success">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.OutOfScope:
                                    <td>
                                        <span class="badge badge-indigo">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.Invalid:
                                    <td>
                                        <span class="badge badge-gray">@vuln.Status</span>
                                    </td>
                                    break;
                                default:
                                    <td>
                                        <span class="badge badge-light">@vuln.Status</span>
                                    </td>
                                    break;
                            }
                            <td>@vuln.VulnCategory.Name</td>
                            <td>@vuln.CreatedDate.ToShortDateString()</td>
                            <td>@vuln.User.FullName</td>

                            <td>
                                <a asp-area="Workspace" asp-controller="Vuln" asp-action="Details" asp-route-project="@Model.Project.Id" asp-route-id="@vuln.Id" class="btn btn-tool">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a class="btn btn-tool" asp-area="Workspace" asp-controller="Vuln" asp-action="Edit" asp-route-project="@Model.Project.Id" asp-route-id="@vuln.Id" localize-content>
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-tool" asp-area="Workspace" asp-controller="Vuln" asp-action="Delete" asp-route-project="@Model.Project.Id" asp-route-id="@vuln.Id" localize-content>
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>


                        </tr>
                    }

                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            }
            
            @if (Model.Project.Score == Score.OWASP)
            {
                                <!--Table-->
                <table id="vulnResults" class="table table-bordered table-hover" width="100%">
                    <!--Table head-->
                    <thead class="thead-dark">
                    <tr>
                        <th>
                            <i class="fas fa-id-badge"></i> <span localize-content>Id</span>
                        </th>
                        
                        <th>
                            <i class="fas fa-bug"></i> <span localize-content>Name</span>
                        </th>
                        <th>
                            <i class="fas fa-virus"></i> <span localize-content>CVE</span>
                        </th>
                        <th>
                            <i class="fas fa-radiation-alt"></i> <span localize-content>OWASP Risk</span>
                        </th>
                        <th>
                            <i class="fas fa-radiation-alt"></i> <span localize-content>OWASP LikeHood</span>
                        </th>
                        <th>
                            <i class="fas fa-radiation-alt"></i> <span localize-content>OWASP Impact</span>
                        </th>

                        <th>
                            <i class="fas fa-biohazard"></i> <span localize-content>Risk</span>
                        </th>
                        <th>
                            <i class="fas fa-tasks"></i> <span localize-content>Status</span>
                        </th>
                        <th>
                            <i class="fas fa-project-diagram"></i> <span localize-content>Category</span>
                        </th>
                        <th>
                            <i class="fas fa-calendar"></i> <span localize-content>Created Date</span>
                        </th>
                        <th>
                            <i class="fas fa-user"></i> <span localize-content>Created by</span>
                        </th>
                        <th>
                            <i class="fas fa-cog"></i> <span localize-content>Options</span>
                        </th>
                    </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>

                    @foreach (var vuln in Model.Vulns)
                    {
                        <tr>
                            <td>@vuln.FindingId</td>
                            <td>@vuln.Name</td>
                            <td>@vuln.cve</td>
                            @if (@vuln.OWASPRisk == "NOTE")
                            {
                                <td>
                                    <span class="badge badge-info">
                                        <i class="fas fa-info-circle"></i> @vuln.OWASPRisk
                                    </span>
                                </td>
                            }
                            else if (@vuln.OWASPRisk == "LOW")
                            {
                                <td>
                                    <span class="badge badge-success">
                                        <i class="fas fa-exclamation"></i> @vuln.OWASPRisk
                                    </span>
                                </td>
                            }
                            else if (@vuln.OWASPRisk == "MEDIUM")
                            {
                                <td>
                                    <span class="badge badge-warning">
                                        <i class="fas fa-exclamation"></i> @vuln.OWASPRisk
                                    </span>
                                </td>
                            }
                            else if (@vuln.OWASPRisk == "HIGH")
                            {
                                <td>
                                    <span class="badge badge-danger">
                                        <i class="fas fa-exclamation-circle"></i> @vuln.OWASPRisk
                                    </span>
                                </td>
                            }
                            else if (@vuln.OWASPRisk == "CRITICAL")
                            {
                                <td>
                                    <span class="badge badge-danger">
                                        <i class="fas fa-exclamation-triangle"></i> @vuln.OWASPRisk
                                    </span>
                                </td>
                            }
                            else if (@vuln.OWASPRisk == null)
                            {
                                <td>
                                    No Data
                                </td>

                            }
                            else
                            {
                                <td>
                                    @vuln.OWASPRisk
                                </td>
                            }


                            <td>
                                @if (@vuln.OWASPLikehood == null)
                                {
                                    <span>No Data</span>
                                }
                                else
                                {
                                    @vuln.OWASPLikehood
                                }

                            </td>

                            <td>
                                @if (@vuln.OWASPImpact == null)
                                {
                                    <span>No Data</span>
                                }
                                else
                                {
                                    @vuln.OWASPImpact
                                }

                            </td>


                            @switch (@vuln.Risk)
                            {
                                case VulnRisk.Info:
                                    <td>
                                        <span class="badge badge-info">
                                            <i class="fas fa-info-circle"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                case VulnRisk.Low:
                                    <td>
                                        <span class="badge badge-success">
                                            <i class="fas fa-exclamation"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                case VulnRisk.Medium:
                                    <td>
                                        <span class="badge badge-warning">
                                            <i class="fas fa-exclamation"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                case VulnRisk.High:
                                    <td>
                                        <span class="badge badge-danger">
                                            <i class="fas fa-exclamation-circle"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                case VulnRisk.Critical:
                                    <td>
                                        <span class="badge badge-danger">
                                            <i class="fas fa-exclamation-triangle"></i> @vuln.Risk
                                        </span>
                                    </td>
                                    break;
                                default:
                                    <td>
                                        <span class="badge badge-light">@vuln.Risk</span>
                                    </td>
                                    break;
                            }



                            @switch (vuln.Status)
                            {
                                case VulnStatus.Open:
                                    <td>
                                        <span class="badge badge-info">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.Confirmed:
                                    <td>
                                        <span class="badge badge-danger">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.Accepted:
                                    <td>
                                        <span class="badge badge-warning">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.Resolved:
                                    <td>
                                        <span class="badge badge-success">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.OutOfScope:
                                    <td>
                                        <span class="badge badge-indigo">@vuln.Status</span>
                                    </td>
                                    break;
                                case VulnStatus.Invalid:
                                    <td>
                                        <span class="badge badge-gray">@vuln.Status</span>
                                    </td>
                                    break;
                                default:
                                    <td>
                                        <span class="badge badge-light">@vuln.Status</span>
                                    </td>
                                    break;
                            }
                            <td>@vuln.VulnCategory.Name</td>
                            <td>@vuln.CreatedDate.ToShortDateString()</td>
                            <td>@vuln.User.FullName</td>

                            <td>
                                <a asp-area="Workspace" asp-controller="Vuln" asp-action="Details" asp-route-project="@Model.Project.Id" asp-route-id="@vuln.Id" class="btn btn-tool">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a class="btn btn-tool" asp-area="Workspace" asp-controller="Vuln" asp-action="Edit" asp-route-project="@Model.Project.Id" asp-route-id="@vuln.Id" asp-route-vector="@vuln.OWASPVector" localize-content>
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-tool" asp-area="Workspace" asp-controller="Vuln" asp-action="Delete" asp-route-project="@Model.Project.Id" asp-route-id="@vuln.Id" localize-content>
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>


                        </tr>
                    }

                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            }

        </div>
    </div>
    <a asp-area="Workspace" asp-controller="Home" asp-action="Index" class="btn btn-light"><i class="fas fa-arrow-left"></i> <span localize-content>Back</span></a>
            <a asp-area="Workspace" asp-controller="Vuln" asp-action="Create" class="btn btn-dark"><i class="fas fa-bug"></i> <span localize-content>Create</span></a>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
        $('#vulnResults').DataTable({
            "responsive": true
        });
        $('.dataTables_length').addClass('bs-select');
    });

</script>
}