@using Cervantes.CORE
@model VulnCreateViewModel

@{
    ViewData["Title"] = "Create Vuln";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-bug"></i> Create Vulnerability</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content><a asp-area="" asp-controller="Workspaces" asp-action="Index">Workspace</a></li>
                    <li class="breadcrumb-item" localize-content><a asp-area="Workspace" asp-controller="Home" asp-action="Index" asp-route-project="@Model.Project.Id">@Model.Project.Name</a></li>
                    <li class="breadcrumb-item" localize-content><a asp-area="Workspace" asp-controller="Vuln" asp-action="Index" asp-route-project="@Model.Project.Id">Vulns</a></li>
                    <li class="breadcrumb-item active" localize-content>Template</li>
                    
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>
<!-- Main content -->
<section class="content">


    <div class="col-md-12">
        <form asp-area="Workspace" asp-controller="Vuln" asp-action="Template" method="post" enctype="multipart/form-data">

            <div class="card card-dark card-tabs">
                <div class="card-header p-0 pt-1">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#details" data-toggle="pill">
                                <span localize-content>Details</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#poc" data-toggle="pill">
                                <span localize-content>Exploitation</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#remediation" data-toggle="pill">
                                <span localize-content>Remediation</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="details">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Template" class="control-label" localize-content>Template</label>
                                <input asp-for="Template" class="form-control"/>
                                <span asp-validation-for="Template" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label" localize-content>Name</label>
                                <input asp-for="Name" class="form-control"/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="cve" class="control-label">CVE</label>
                                <input asp-for="cve" class="form-control"/>
                                <span asp-validation-for="cve" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label" localize-content>Description</label>
                                <textarea id="descriptionTxt" asp-for="Description" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" localize-content>Category</label>
                                @Html.DropDownListFor(m => m.VulnCategoryId, Model.VulnCatList, "--Select--", new {@class = "form-control"})
                                <span asp-validation-for="VulnCategory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" localize-content>Risk</label>
                                @Html.DropDownListFor(model => model.Risk, Html.GetEnumSelectList<VulnRisk>(), new {@class = "form-control"})
                                <span asp-validation-for="Risk" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" localize-content>Status</label>
                                @Html.DropDownListFor(model => model.Status, Html.GetEnumSelectList<VulnStatus>(), new {@class = "form-control"})
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Impact" class="control-label" localize-content>Impact</label>
                                <textarea id="impact" asp-for="Impact" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Impact" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" localize-content>Target</label>
                                @Html.DropDownListFor(model => model.TargetId, Model.TargetList, new {@class = "form-control"})
                                <span asp-validation-for="Target" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="CVSS3" id="cvss3" class="form-control" rows="4"></input>
                            <input type="hidden" asp-for="CVSSVector" id ="cvssvector" class="form-control" rows="4"></input>
                                                        
                            <div class="form-group">
                                <label>CVSS3 Calculator</label>
                                <div id="cvssboard"></div>
                                <span asp-validation-for="CVSS3" class="text-danger"></span>
                                <span asp-validation-for="CVSSVector" class="text-danger"></span>
                            </div>
                            
                        </div>

                        <div class="tab-pane" id="poc">
                            <div class="form-group">
                                <label asp-for="ProofOfConcept" class="control-label" localize-content>Proof Of Concept</label>
                                <textarea id="pocTxt" asp-for="ProofOfConcept" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="ProofOfConcept" class="text-danger"></span>
                            </div>

                        </div>

                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="remediation">
                            <div class="form-group">
                                <label asp-for="Remediation" class="control-label" localize-content>Remediation</label>
                                <textarea id="remediationTxt" asp-for="Remediation" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Remediation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" localize-content>Complexity</label>
                                @Html.DropDownListFor(model => model.RemediationComplexity, Html.GetEnumSelectList<RemediationComplexity>(), new {@class = "form-control"})
                                <span asp-validation-for="RemediationComplexity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" localize-content>Priority</label>
                                @Html.DropDownListFor(model => model.RemediationPriority, Html.GetEnumSelectList<RemediationPriority>(), new {@class = "form-control"})
                                <span asp-validation-for="RemediationPriority" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <!-- /.tab-pane -->

                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->


            </div>
            <!-- /.card -->
            <div class="form-group">
                <a class="btn btn-default" asp-area="Workspace" asp-controller="Vuln" asp-action="Templates" localize-content>Back</a>
                <button type="submit" class="btn btn-dark" localize-content>Create</button>

            </div>
        </form>
    </div>
</section>
@section Styles{
        <link href="~/lib/cvssjs/cvss.css" rel="stylesheet" />
}
@section Scripts
{
    <script src="~/lib/cvssjs/cvss.js"></script>
    <script>
  $(document).ready(function() { 
          $('#descriptionTxt').summernote({
          height: 300,
          });
              $('#impact').summernote({
                        height: 300,
                        });    
              
              $('#pocTxt').summernote({
                        height: 300,
                        });
              
              $('#remediationTxt').summernote({
                        height: 300,
                        });
          });
  
       
    var c = new CVSS("cvssboard", {
                        onchange: function() {
                            window.location.hash = c.get().vector;
                            c.vector.setAttribute('href', '#' + c.get().vector)
                            document.getElementById("cvss3").value = c.get().score;
                            document.getElementById("cvssvector").value = c.get().vector;
                        }
                    });
                    if (window.location.hash.substring(1).length > 0) {
                        c.set(decodeURIComponent(window.location.hash.substring(1)));
                    }
         c.set('@Model.CVSSVector');
    
    </script>
}