@model Cervantes.Web.Areas.Workspace.Models.MASTG.MASTGViewModel
<div class="table-responsive-md">
            <table class="table table-bordered table-hover" id="networkt" width="100%">
                <thead class="thead-dark">
                <tr>
                    <th><i class="fas fa-id-badge"></i>MASVS-ID</th>
                    <th><i class="fas fa-search"></i> Details</th>
                    <th><i class="fas fa-bug"></i> L1</th>
                    
                    <th><i class="fas fa-dungeon"></i> L2</th>
                    <th><i class="fas fa-shield-alt"></i> R</th>
                    <th><i class="fas fa-mobile"></i> Common</th>
                    <th><i class="fab fa-android"></i> Android</th>
                    <th><i class="fab fa-apple"></i> iOS</th>
                    <th><i class="fas fa-project-diagram"></i> Status</th>
                    <th><i class="fas fa-sticky-note"></i> Note</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MSTG-NETWORK-01</td>
                    <td>Data is encrypted on the network using TLS. The secure channel is used consistently throughout the app.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x04f-Testing-Network-Communication.md#verifying-data-encryption-on-the-network-mstg-network-1" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x05g-Testing-Network-Communication.md#testing-data-encryption-on-the-network-mstg-network-1" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x06g-Testing-Network-Communication.md#testing-data-encryption-on-the-network-mstg-network-1" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td>
                        @Html.DropDownListFor(model => model.Network.NetworkStatus01, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Network.NetworkNote01" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-NETWORK-02</td>
                    <td>The TLS settings are in line with current best practices, or as close as possible if the mobile operating system does not support the recommended standards.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x04f-Testing-Network-Communication.md#verifying-the-tls-settings-mstg-network-2" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x05g-Testing-Network-Communication.md#testing-the-tls-settings-mstg-network-2" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x06g-Testing-Network-Communication.md#testing-the-tls-settings-mstg-network-2" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td>
                        @Html.DropDownListFor(model => model.Network.NetworkStatus02, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Network.NetworkNote02" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-NETWORK-03</td>
                    <td>The app verifies the X.509 certificate of the remote endpoint when the secure channel is established. Only certificates signed by a trusted CA are accepted.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x05g-Testing-Network-Communication.md#testing-endpoint-identify-verification-mstg-network-3" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x06g-Testing-Network-Communication.md#testing-endpoint-identity-verification-mstg-network-3" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td>
                        @Html.DropDownListFor(model => model.Network.NetworkStatus03, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Network.NetworkNote03" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-NETWORK-04</td>
                    <td>The app either uses its own certificate store, or pins the endpoint certificate or public key, and subsequently does not establish connections with endpoints that offer a different certificate or key, even if signed by a trusted CA.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x05g-Testing-Network-Communication.md#testing-custom-certificate-stores-and-certificate-pinning-mstg-network-4" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x06g-Testing-Network-Communication.md#testing-custom-certificate-stores-and-certificate-pinning-mstg-network-4" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td>
                        @Html.DropDownListFor(model => model.Network.NetworkStatus04, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Network.NetworkNote04" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-NETWORK-05</td>
                    <td>The app doesn't rely on a single insecure communication channel (email or SMS) for critical operations, such as enrollments and account recovery.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x04f-Testing-Network-Communication.md#making-sure-that-critical-operations-use-secure-communication-channels-mstg-network-5" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Network.NetworkStatus05, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Network.NetworkNote05" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-NETWORK-06</td>
                    <td>The app only depends on up-to-date connectivity and security libraries.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td><a href="https://github.com/OWASP/owasp-mastg/blob/master/Document/0x05g-Testing-Network-Communication.md#testing-the-security-provider-mstg-network-6" target="_blank"><i class="fas fa-eye"></i> Test Case</a></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Network.NetworkStatus06, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Network.NetworkNote06" class="form-control" rows="4"></textarea></td>
                </tr>
                
                
                
                </tbody>
            </table>
        </div>

