@model Cervantes.Web.Areas.Workspace.Models.MASTG.MASTGViewModel
<div class="table-responsive-md">
            <table class="table table-bordered table-hover" id="storaget" width="100%">
                <thead class="thead-dark">
                <tr>
                    <th><i class="fas fa-id-badge"></i>MASVS-ID</th>
                    <th><i class="fas fa-search"></i> Details</th>
                    <th><i class="fas fa-bug"></i> L1</th>
                    
                    <th><i class="fas fa-dungeon"></i> L2</th>
                    <th><i class="fas fa-shield-alt"></i> R</th>
                    <th><i class="fas fa-mobile"></i> Common</th>
                    <th><i class="fab fa-android"></i> Android</th>
                    <th><i class="fab fa-apple"></i> iOS</th>
                    <th><i class="fas fa-project-diagram"></i> Status</th>
                    <th><i class="fas fa-sticky-note"></i> Note</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>MSTG-STORAGE-01</td>
                    <td>System credential storage facilities need to be used to store sensitive data, such as PII, user credentials or cryptographic keys.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus01, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote01" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-02</td>
                    <td>No sensitive data should be stored outside of the app container or system credential storage facilities.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus02, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote02" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-03</td>
                    <td>No sensitive data is written to application logs.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus03, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote03" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-04</td>
                    <td>No sensitive data is shared with third parties unless it is a necessary part of the architecture.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus04, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote04" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-05</td>
                    <td>The keyboard cache is disabled on text inputs that process sensitive data.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus05, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote05" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-06</td>
                    <td>No sensitive data is exposed via IPC mechanisms.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus06, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote06" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-07</td>
                    <td>No sensitive data, such as passwords or pins, is exposed through the user interface.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus07, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote07" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-08</td>
                    <td>No sensitive data is included in backups generated by the mobile operating system.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus08, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote08" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-09</td>
                    <td>The app removes sensitive data from views when moved to the background.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus09, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote09" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-10</td>
                    <td>The app does not hold sensitive data in memory longer than necessary, and memory is cleared explicitly after use.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus10, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote10" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-11</td>
                    <td>The app enforces a minimum device-access-security policy, such as requiring the user to set a device passcode.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus11, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote11" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-12</td>
                    <td>The app educates the user about the types of personally identifiable information processed, as well as security best practices the user should follow in using the app.</td>
                    <td class="bg-info"></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus12, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote12" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-13</td>
                    <td>No sensitive data should be stored locally on the mobile device. Instead, data should be retrieved from a remote endpoint when needed and only be kept in memory.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus13, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote13" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-14</td>
                    <td>If sensitive data is still required to be stored locally, it should be encrypted using a key derived from hardware backed storage which requires authentication.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus14, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote14" class="form-control" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td>MSTG-STORAGE-15</td>
                    <td>The app’s local storage should be wiped after an excessive number of failed authentication attempts.</td>
                    <td></td>
                    <td class="bg-success"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        @Html.DropDownListFor(model => model.Storage.StorageStatus15, Html.GetEnumSelectList<Cervantes.CORE.MASTGStatus>(), new {@class = "form-control"})
                    </td>
                    <td><textarea asp-for="Storage.StorageNote15" class="form-control" rows="4"></textarea></td>
                </tr>
                
                
                
                </tbody>
            </table>
        </div>

