@using System.Net
@using Cervantes.CORE
@model ChecklistViewModel

@{
    ViewData["Title"] = "Checklist";
}
@{
    if (TempData["deleted"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>Target deleted successfully!</strong>

        </div>
    }

    if (TempData["addedTarget"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>Target created successfully!</strong>

        </div>
    }

    if (TempData["edited"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Target edited successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }
    
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-tasks"></i> Checklist</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="" asp-controller="Workspaces" asp-action="Index" localize-content>Workspace</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="Workspace" asp-controller="Home" asp-action="Index" asp-route-project="@Model.Project.Id" localize-content>@Model.Project.Name</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Checklist</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

    <div class="card">
        <div class="card-body">


            <!--Table-->
            <table id="checklistResults" class="table table-bordered table-hover" width="100%">
                <!--Table head-->
                <thead class="thead-dark">
                <tr>
                    <th>
                        <i class="fas fa-bullseye"></i> <span localize-content>Target</span>
                    </th>
                    <th>
                        <i class="fas fa-project-diagram"></i> <span localize-content>Type</span>
                    </th>
                    <th>
                        <i class="fas fa-align-left"></i> <span localize-content>Created Date</span>
                    </th>
                    <th>
                        <i class="fas fa-user"></i> <span localize-content>Added by</span>
                    </th>
                    <th>
                        <i class="fas fa-cog"></i> <span localize-content>Options</span>
                    </th>

                </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    @foreach (var check in Model.WSTG)
                    {
                        <tr>
                            <td>@check.Target.Name</td>
                            <td>OWASP WSTG</td>
                            <td>@check.CreatedDate.ToShortDateString()</td>
                            <td>@check.User.FullName</td>
                            <td>
                                <a asp-area="Workspace" asp-controller="Target" asp-action="Details" asp-route-project="@Model.Project.Id" asp-route-id="@check.TargetId" class="btn btn-tool">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <a class="btn btn-tool" asp-area="Workspace" asp-controller="Target" asp-action="Edit" asp-route-project="@Model.Project.Id" asp-route-id="@check.TargetId" localize-content>
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn btn-tool" asp-area="Workspace" asp-controller="Target" asp-action="Delete" asp-route-project="@Model.Project.Id" asp-route-id="@check.TargetId" localize-content>
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                            
                        </tr>
                    }
                

                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->


        </div>
    </div>
    <a asp-area="Workspace" asp-controller="Home" asp-action="Index" class="btn btn-light"><i class="fas fa-arrow-left"></i> Back</a>
        <a asp-area="Workspace" asp-controller="Target" asp-action="Create" class="btn btn-dark"><i class="fas fa-tasks"></i> Create</a>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

@section Scripts{
    <script>

    $(document).ready(function () {
        $('#checklistResults').DataTable({
            "responsive": true
        });
        $('.dataTables_length').addClass('bs-select');
    });


</script>
}