@using System.Net
@using Cervantes.CORE
@model Cervantes.Web.Models.ReportTemplateViewModel

@{
    ViewData["Title"] = "Report Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content>
                    <i class="fas fa-file-word"></i> @Model.Name
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="Report" asp-action="Templates" localize-content>Reports</a>
                    </li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

<div class="container-fluid">
<div class="row">
<div class="col-md-2">

    <!-- Profile Image -->
    <div class="card card-dark card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                 <span class="img-fluid img-circle">
                                        <i class="fas fa-file-word fa-3x"></i>
                                    </span>
            </div>

            <h3 class="profile-username text-center">@Model.Name</h3>
            
             <div class="info-box mb-3 ">
                            <span class="info-box-icon bg-primary">
                                <i class="fas fa-language"></i>
                            </span>
            
                            <div class="info-box-content">
                                <span class="info-box-text" localize-content>Language</span>
                                <span class="info-box-number">
                                    @Model.Language
                                </span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-teal">
                    <i class="fas fa-calendar"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text" localize-content>Created Date</span>
                    <span class="info-box-number">@Model.CreatedDate.ToShortDateString()</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <a class="btn btn-default" asp-controller="Project" asp-action="Index" localize-content>Back</a>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
    {
        <a class="btn btn-outline-warning" asp-area="" asp-controller="Report" asp-action="EditTemplate" asp-route-id="@Model.Id" localize-content><i class="fas fa-edit"></i> Edit</a>
    }
</div>
<!-- /.col -->
<div class="col-md-10">
<div class="card card-dark card-tabs">
<div class="card-header p-0 pt-1">
    <ul class="nav nav-tabs">
        <li class="nav-item" localize-content>
            <a class="nav-link active" href="#details" data-toggle="pill"><i class="fas fa-eye"></i> <span localize-content>Details</span></a>
        </li>


    </ul>
</div><!-- /.card-header -->
<div class="card-body">
<div class="tab-content">
<div class="active tab-pane" id="details">
    <div class="card ">
        <div class="card-header bg-gray">
            <h3 class="card-title">
                <i class="fas fa-align-left"></i>
                <strong localize-content>Description</strong>
            </h3>
        </div>
                                                
        <div class="card-body">
            @Html.Raw(@WebUtility.HtmlDecode(Model.Description))
        </div>
                                                
    </div>
    
    <a class="btn btn-dark" asp-area="" asp-controller="Report" asp-action="DownloadTemplate" asp-route-id="@Model.Id" localize-content>
                            <i class="fas fa-download"></i> <span localize-content>Download</span>
                        </a>
</div>
    
</div>
<!-- /.tab-content -->
</div><!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div><!-- /.container-fluid -->


</section>


@section Scripts{
    <script>


         $(document).ready(function () {
  bsCustomFileInput.init();
});

</script>
}