@model Cervantes.CORE.Task

@{
    ViewData["Title"] = "Delete";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content><i class="fas fa-tasks"></i> Delete Task</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="" asp-controller="Workspaces" asp-action="Index" localize-content>Workspace</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="Workspace" asp-controller="Home" asp-action="Index" asp-route-project="@Model.Project.Id" localize-content>@Model.Project.Name</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="Workspace" asp-controller="Task" asp-action="Index" asp-route-project="@Model.Project.Id" localize-content>Tasks</a>
                    </li>
                    <li class="breadcrumb-item" localize-content>
                        <a asp-area="Workspace" asp-controller="Task" asp-action="Details" asp-route-project="@Model.Id" localize-content>@Model.Name</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Delete</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-body">
            <h3 localize-content>Are you sure you want to delete this?</h3>

            <div>

                <dl class="row">
                    <dt class="col-sm-2" localize-content>
                        Name
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2" localize-content>
                        Description
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2" localize-content>
                        Created by
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedUser.FullName)
                    </dd>
                    <dt class="col-sm-2" localize-content>
                        Asigned To
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.AsignedUser.FullName)
                    </dd>
                    <dt class="col-sm-2" localize-content>
                        Start Date
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt class="col-sm-2" localize-content>
                        End Date
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id"/>
                    <a class="btn btn-light" asp-action="Index" localize-content>Back</a>
                    <button type="submit" class="btn btn-outline-danger" localize-content>Delete</button>
                </form>
            </div>
        </div>
    </div>
</section>