@addTagHelper *, LazZiya.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Cervantes.CORE
@using System.Globalization
@using LazZiya.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Cervantes</title>
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/lib/theme/css/adminlte.css">
    <link href="~/lib/summernote/summernote-bs4.min.css" rel="stylesheet">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">


</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                <i class="fas fa-bars"></i>
            </a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-culture="@culture" localize-content>Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" asp-area="" asp-controller="Workspaces" asp-action="Index" asp-route-culture="@culture" localize-content>Workspace</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" asp-area="" asp-controller="Project" asp-action="Index" asp-route-culture="@culture" localize-content>Projects</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" asp-area="" asp-controller="Client" asp-action="Index" asp-route-culture="@culture" localize-content>Clients</a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        <li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
                <form asp-area="" asp-controller="Search" asp-action="Search" class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" id="search" name="search" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </li>
        <li class="nav-item dropdown show">
            <language-nav class="nav-link" flags="true" language-label="NativeName" cookie-handler-url="@(Url.Action("OnGetSetCultureCookie", "Home", new {area = "", cltr = "{0}", returnUrl = "{1}"}))"></language-nav>
        </li>

        @await Html.PartialAsync("_LoginUser")

    </ul>
</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary sidebar-collapse elevation-4">
<!-- Brand Logo -->
<a asp-area="" asp-controller="Home" asp-route-culture="@culture" asp-action="Index"class="brand-link">

    <img src="/img/logo.png" alt="Logo" class="brand-image" style="opacity: .8">
    <span class="brand-text font-weight-light">Cervantes</span>
</a>

<!-- Sidebar -->
<div class="sidebar">

<!-- Sidebar Menu -->
<nav class="mt-2">
<ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-legacy" data-widget="treeview" role="menu" data-accordion="false">
@if (User.IsInRole("Admin") || User.IsInRole("SuperUser") || User.IsInRole("User"))
{
    <li class="nav-header">GENERAL</li>
    <li class="nav-item">
        <a asp-controller="Home" asp-action="Index" asp-route-culture="@culture" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p localize-content>Home</p>

        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Calendar" asp-action="Index" asp-route-culture="@culture" class="nav-link">
            <i class="nav-icon fas fa-calendar"></i>
            <p localize-content>Calendar</p>

        </a>
    </li>

    <li class="nav-item">
        <a asp-controller="Workspaces" asp-action="Index" asp-route-culture="@culture" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p localize-content>My Workspaces</p>

        </a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-folder"></i>
            <p>
                <span localize-content>Projects</span><i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-controller="Project" asp-action="Index" asp-route-culture="@culture" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p localize-content>List</p>
                </a>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <li class="nav-item">
                    <a asp-controller="Project" asp-action="Create" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-plus nav-icon"></i>
                        <p localize-content>Create</p>

                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Project" asp-action="Templates" asp-route-culture="@culture" localize-content class="nav-link">
                        <i class="fas fa-clone nav-icon"></i>
                        <p localize-content>Templates</p>
                    </a>
                </li>
            }

        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link" localize-content>
            <i class="nav-icon fas fa-briefcase"></i>
            <p>
                <span localize-content>Clients</span><i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-controller="Client" asp-action="Index" asp-route-culture="@culture" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p localize-content>List</p>

                </a>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <li class="nav-item">
                    <a asp-controller="Client" asp-action="Create" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-plus nav-icon"></i>
                        <p localize-content>Create</p>
                    </a>
                </li>
            }
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link" localize-content>
            <i class="nav-icon fas fa-file"></i>
            <p>
                <span localize-content>Documents</span><i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-controller="Document" asp-action="Index" asp-route-culture="@culture" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p localize-content>List</p>
                </a>
            </li>
            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <li class="nav-item">
                    <a asp-controller="Document" asp-action="Create" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-plus nav-icon"></i>
                        <p localize-content>Create</p>

                    </a>
                </li>
            }
        </ul>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" localize-content>
            <i class="nav-icon fas fa-bug"></i>
            <p>
                <span localize-content>Vulnerabilities</span><i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-controller="Vuln" asp-action="Index" asp-route-culture="@culture" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p localize-content>List</p>
                </a>
            </li>

            <li class="nav-item">
                <a asp-controller="Vuln" asp-action="Categories" asp-route-culture="@culture" class="nav-link">
                    <i class="fas fa-project-diagram nav-icon"></i>
                    <p localize-content>Categories</p>

                </a>
            </li>

            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
            {
                <li class="nav-item">
                    <a asp-area="" asp-controller="Vuln" asp-action="CreateCategory" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-plus nav-icon"></i>
                        <p localize-content>Create Category</p>

                    </a>
                </li>
            }
            <li class="nav-item">
                <a asp-controller="Vuln" asp-action="Templates" asp-route-culture="@culture" class="nav-link">
                    <i class="fas fa-clone nav-icon"></i>
                    <p localize-content>Templates</p>
            
                </a>
            </li>
            

        </ul>
    </li>


    @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
    {
        <li class="nav-header">ADMIN</li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Log" asp-action="Index" asp-route-culture="@culture" localize-content class="nav-link">
                <i class="nav-icon fas fa-eye"></i>
                <p localize-content>Application Logs</p>

            </a>
        </li>
        
         
        <li class="nav-item">
            <a href="#" class="nav-link" localize-content>
                <i class="nav-icon fas fa-database"></i>
                <p>
                    <span localize-content>Backup</span><i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Backup" asp-action="Index" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-download nav-icon"></i>
                        <p localize-content>Backup</p>
                    </a>
                </li>
            
                <li class="nav-item">
                    <a asp-controller="Backup" asp-action="Restore" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-upload nav-icon"></i>
                        <p localize-content>Restore</p>
            
                    </a>
                </li>
            
            </ul>
        </li>
        
        <li class="nav-item">
            <a asp-controller="Organization" asp-action="Index" asp-route-culture="@culture" class="nav-link">
                <i class="nav-icon fas fa-sitemap"></i>
                <p localize-content>Organization</p>

            </a>
        </li>
            
        <li class="nav-item">
            <a href="#" class="nav-link" localize-content>
                <i class="nav-icon fas fa-file-word"></i>
                <p>
                    <span localize-content>Report Templates</span><i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="Report" asp-action="Templates" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-list nav-icon"></i>
                        <p localize-content>Templates</p>
                    </a>
                </li>
            
                <li class="nav-item">
                    <a asp-controller="Report" asp-action="CreateTemplate" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-plus nav-icon"></i>
                        <p localize-content>Create Template</p>
            
                    </a>
                </li>
            
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" localize-content>
                <i class="nav-icon fas fa-users"></i>
                <p>
                    <span localize-content>Users</span><i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a asp-controller="User" asp-action="Index" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-list nav-icon"></i>
                        <p localize-content>List</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-controller="User" asp-action="Create" asp-route-culture="@culture" class="nav-link">
                        <i class="fas fa-plus nav-icon"></i>
                        <p localize-content>Create</p>

                    </a>
                </li>

            </ul>
        </li>

    }
}

@if (User.IsInRole("Client"))
{
    <li class="nav-header">GENERAL</li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-folder"></i>
            <p>
                <span localize-content>Projects</span><i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a asp-controller="Project" asp-action="MyProjects" asp-route-culture="@culture" class="nav-link">
                    <i class="fas fa-list nav-icon"></i>
                    <p localize-content>My Projects</p>
                </a>
            </li>
        </ul>
    </li>
}
</ul>
</nav>
<!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    @RenderBody()
</div>
<!-- /.content-wrapper -->

<footer class="main-footer bg-dark">
    <div class="float-right d-none d-sm-block">
        <b>Version</b> Alpha-0.3
    </div>
    <strong>Copyright &copy; @DateTime.Now.Year <a href="https://github.com/CervantesSec">Cervantes</a>.</strong> All rights reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/theme/js/adminlte.min.js"></script>
<link href="~/lib/DataTables/datatables.min.css" rel="stylesheet">
<script src="~/lib/DataTables/datatables.min.js"></script>
<link href="~/lib/fontawesome/css/all.css" rel="stylesheet">

<script src="~/lib/summernote/summernote-bs4.min.js"></script>
<script src="~/lib/chartjs/chart.min.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>