@rendermode InteractiveServer
@using Task = System.Threading.Tasks.Task;
@using FluentValidation;
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization
@using Variant = MudBlazor.Variant
@using Cervantes.Web.Localization
@using Cervantes.CORE.Entities
@inject IStringLocalizer<Resource> localizer
@inject IDialogService Dialog
@inject IJSRuntime JS
@attribute [StreamRendering]

<style>
	.tox-tinymce-aux {
        z-index: 999999!important;
    }
</style>
		<MudContainer Class="px-8" MaxWidth="MaxWidth.False" Style="overflow-y: scroll">

<MudDialog DisableSidePadding="true">
	<TitleContent>
		            <MudItem Class="d-flex flex-wrap justify-space-around gap-1">

		<MudText Typo="Typo.h4"><MudIcon Icon="@Icons.Material.Filled.Person"/> @user.FullName</MudText>
		<MudSpacer/>

		@if (editMode)
		{
			<MudIconButton Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Primary" aria-label="delete" OnClick="@((e) => EditMode())"></MudIconButton>
		}
		else
		{
			<MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Warning" aria-label="delete" OnClick="@((e) => EditMode())"></MudIconButton>

		}
		<MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary" aria-label="delete" OnClick="@((e) => DeleteDialog(@user, medium))"></MudIconButton>

		            </MudItem>
	</TitleContent>
	<DialogContent>
		@if (editMode)
        	{
			        <MudContainer MaxWidth="MaxWidth.False" Style="max-height: 1000px; overflow-y: scroll;">

				        <MudForm Model="@model" @ref="@form" Validation="@(userModelFluentValidator.ValidateValue)" ValidationDelay="0">

					        <MudStack AlignItems="AlignItems.Stretch">
						        <MudSwitch @bind-Value="@model.Lockout" Label="@localizer["locked"]" Color="Color.Primary"  />
						        <MudSwitch @bind-Value="@model.TwoFactorEnabled" Label="@localizer["twoFactor"]" Color="Color.Primary" />
						        <MudTextField Placeholder="John Doe" @bind-Value="model.FullName"
						                      For="@(() => model.FullName)"
						                      Immediate="true"
						                      Label="@localizer["name"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person"/>


						        <MudTextField Placeholder="john.doe@foobar.com" @bind-Value="model.Email"
						                      For="@(() => model.Email)"
						                      Immediate="true"
						                      Label="Email" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Email" InputType="InputType.Email"/>

						        <MudTextField Placeholder="+00 000 00 00 00" @bind-Value="model.PhoneNumber"
						                      For="@(() => model.PhoneNumber)"
						                      Immediate="true"
						                      Label="@localizer["phone"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Phone" InputType="InputType.Telephone"/>

						        <TinyMCE.Blazor.Editor ScriptSrc="lib/tinymce/tinymce.min.js" Conf="@editorConf" @bind-Value="model.Description" data-mce-placeholder="Description"/>

						        <MudTextField @bind-Value="model.Password"
						                      For="@(() => model.Password)"
						                      Immediate="true"
						                      Label="@localizer["changePassword"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Password" InputType="InputType.Password"/>
						        <MudTextField @bind-Value="model.ConfirmPassword"
						                      For="@(() => model.ConfirmPassword)"
						                      Immediate="true"
						                      Label="@localizer["confirmPassword"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Password" InputType="InputType.Password"/>


						        <MudTextField Placeholder="Pentester..." @bind-Value="model.Position"
						                      For="@(() => model.Position)"
						                      Immediate="true"
						                      Label="@localizer["position"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.PermIdentity"/>

						        <MudSelect Placeholder="@localizer["role"]" @bind-Value="model.Role" For="@(() => model.Role)" Label="@localizer["role"]" AdornmentIcon="@Icons.Material.Filled.PersonSearch" Adornment="Adornment.Start" TransformOrigin="Origin.BottomCenter" AnchorOrigin="Origin.BottomCenter" PopoverClass="fixed">
							        <MudSelectItem Value="Guid.Empty.ToString()" Disabled="true">@localizer["selectRole"]</MudSelectItem>
							        @foreach (var role in Roles)
							        {
								        <MudSelectItem Value="@role.Name">@role.Name</MudSelectItem>
							        }
						        </MudSelect>

						        @if (model.Role == "Client")
						        {
							        <MudSelect Placeholder="@localizer["client"]" @bind-Value="model.ClientId" For="@(() => model.ClientId)" Label="Client" AdornmentIcon="@Icons.Material.Filled.Contacts" Adornment="Adornment.Start" TransformOrigin="Origin.BottomCenter" AnchorOrigin="Origin.BottomCenter" PopoverClass="fixed">
								        <MudSelectItem Value="Guid.Empty.ToString()" Disabled="true">@localizer["selectClient"]</MudSelectItem>
								        @foreach (var cli in Clients)
								        {
									        <MudSelectItem Value="@cli.Id">@cli.Name</MudSelectItem>
								        }
							        </MudSelect>

						        }

						        @if (model.ImagePath != null)
						        {
							        <MudImage Src="@model.ImagePath" Width="300" Height="150" ObjectFit="ObjectFit.ScaleDown" Alt="User Logo" Elevation="25" Class="rounded-lg ma-4"/>
							        <MudButton Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Delete" OnClick="@((e) => DeleteAvatar())">@localizer["deleteLogo"]</MudButton>
						        }
						        else
						        {
							        <MudFileUpload T="IBrowserFile" @bind-Files="File" Accept=".jpg,.png,.gif,.jpeg,.tiff,.bmp">
								        <ActivatorContent>
									        <MudButton HtmlTag="label"
									                   Variant="Variant.Filled"
									                   Color="Color.Primary"
									                   StartIcon="@Icons.Material.Filled.CloudUpload">
										        @localizer["uploadFile"]
									        </MudButton>
								        </ActivatorContent>
								        <SelectedTemplate>

									        @if (File != null)
									        {
										        <MudText> <MudIcon Icon="@Icons.Material.Filled.Attachment"/> @File.Name </MudText>

									        }
									        else
									        {
										        <MudText><MudIcon Icon="@Icons.Material.Filled.Attachment"/> @localizer["noFiles"]</MudText>
									        }
								        </SelectedTemplate>
							        </MudFileUpload>
						        }

					        </MudStack>
				        </MudForm>
			        </MudContainer>
		        
	        }
		else
		{

			<MudGrid>
				<MudItem xs="12" sm="4" md="3">
					<MudCard Elevation="25">
						<MudCardContent>
							<div class="d-flex justify-center mb-4">
								 @if (@user.Avatar != null)
                                                                    {
	                                                                    <MudImage Fluid="true" Src="@user.Avatar" Width="200" Height="200" Class="rounded-lg"></MudImage>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudAvatar Color="Color.Primary" Size="Size.Large">@user.FullName[0]</MudAvatar>
                                                                    }
                                                                    
				

							</div>
							<MudList  T="string" Dense="true">
								<MudListItem T="string" Text="@user.Email" Icon="@Icons.Material.Filled.Email"/>
								<MudListItem T="string" Text="@user.Position" Icon="@Icons.Material.Filled.Person2"/>
								<MudListItem T="string" Text="@user.PhoneNumber" Icon="@Icons.Material.Filled.ContactPhone"/>
								<MudListItem T="string" Text="@user.TwoFactorEnabled.ToString()" Icon="@Icons.Material.Filled.Lock"/>
							</MudList>
						</MudCardContent>
					</MudCard>
				</MudItem>
				<MudItem xs="12" sm="8" md="9">
					<MudCard Elevation="25">
						<MudCardHeader>
							<CardHeaderContent>
								<MudText>@localizer["description"]</MudText>
							</CardHeaderContent>
						</MudCardHeader>
						<MudCardContent>
							@((MarkupString)user.Description)
						</MudCardContent>
					</MudCard>
				</MudItem>
			</MudGrid>
		}
	</DialogContent>
	<DialogActions>
		<MudButton Variant="Variant.Filled" Color="@Color.Default" OnClick="Cancel">@localizer["cancel"]</MudButton>
		@if (editMode)
		{
			<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Edit" Color="@Color.Primary" OnClick="Submit">@localizer["edit"]</MudButton>

		}
	</DialogActions>
</MudDialog>
		</MudContainer>