@page "/notes"
@using Microsoft.AspNetCore.Authorization
@using Cervantes.CORE
@using Cervantes.CORE.Entities
@using DialogOptions = MudBlazor.DialogOptions
@using Task = System.Threading.Tasks.Task
@using Variant = MudBlazor.Variant
@using Cervantes.CORE.ViewModels
@using Cervantes.Web.Localization
@using Microsoft.Extensions.Localization
@inject IDialogService Dialog
@using TinyMCE.Blazor
@inject IStringLocalizer<Resource> localizer
@inject NavigationManager navigationManager



<AuthorizeView Context="innerContext" Roles="Admin,SuperUser,User">

<PageTitle>@localizer["notes"] | Cervantes</PageTitle>
<MudGrid>
    <MudItem xs="12" sm="12" md="12" Class="mt-5">
        <MudStack Row="true">

            <MudItem xs="12" sm="4" md="4">
                <MudText Typo="Typo.h4">
                    <MudIcon Icon="@Icons.Material.Filled.Notes"/> @localizer["notes"]
                </MudText>

            </MudItem>
            <MudItem xs="12" sm="8" md="8">
                <div class="d-flex justify-end">
                    <MudBreadcrumbs Items="_items"></MudBreadcrumbs>
                </div>
            </MudItem>
        </MudStack>

    </MudItem>
    <MudItem xs="12" sm="12" md="12">
        <MudDataGrid T="Note" Items="@model" SortMode="SortMode.Multiple" Filterable="true" QuickFilter="_quickFilter"
                     Hideable="true" Hover="true" RowClick="@RowClicked" MultiSelection="true" SelectedItemsChanged="@SelectedItemsChanged" Virtualize="true" DragDropColumnReordering="true">
            <ToolBarContent>
                <MudStack Row="true">
                    <AuthorizeView Roles="Admin,SuperUser,User">
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@((e) => OpenDialogCreate(maxWidth))">@localizer["create"]</MudButton>
                        @if (seleNotes.Count() != 0)
                        {
                            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" >
                                <MudButton>@localizer["actions"]</MudButton>
                                <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                                    <MudMenuItem OnClick="@((e) => BtnActions(0))">@localizer["delete"]</MudMenuItem>
                                </MudMenu>
                            </MudButtonGroup>
                        }
                    </AuthorizeView>
                </MudStack>
                <MudSpacer/>
                <MudTextField @bind-Value="searchString" Placeholder="@localizer["search"]" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0">
                </MudTextField>
            </ToolBarContent>
            <Columns>
                <SelectColumn T="Note" />
                <PropertyColumn Property="x => x.Name" Title="@localizer["name"]"/>
                <PropertyColumn Property="x => x.CreatedDate.ToShortDateString()" Title="@localizer["createdDate"]"/>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="Note"/>
            </PagerContent>
        </MudDataGrid>
        <br/>
        <MudButton Href="/"
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.ArrowBack"
                   Color="Color.Default">
            @localizer["back"]
        </MudButton>
    </MudItem>
</MudGrid>
</AuthorizeView>