@using System.Net
@model Cervantes.Web.Models.UserViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 localize-content>
                    <i class="fas fa-user"></i> @Model.FullName
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-controller="User" asp-action="Index" localize-content>User</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Details</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

<div class="container-fluid">
<div class="row">
<div class="col-md-3">

    <!-- Profile Image -->
    <div class="card card-dark card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                @if (Model.Avatar != null)
                {
                    <img class="profile-user-img img-fluid img-circle"
                         src="@Url.Content(Model.Avatar)"
                         alt="LogoClient">
                }

                else
                {
                    <i class="fas fa-user fa-5x"></i>
                }
            </div>

            <h3 class="profile-username text-center">@Model.FullName</h3>
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-info">
                    <i class="fas fa-user"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text" localize-content>Username</span>
                    <span class="info-box-number">@Model.UserName</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-dark">
                    <i class="fas fa-at"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text" localize-content>Email</span>
                    <span class="info-box-number">@Model.Email</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <div class="info-box mb-3 ">
                <span class="info-box-icon bg-warning">
                    <i class="fas fa-project-diagram"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text" localize-content>Role</span>
                    <span class="info-box-number">
                        @switch (Model.Option)
                        {
                            case "Admin":
                                <span class="badge badge-danger">@Html.DisplayFor(model => model.Option)</span>
                                break;
                            case "SuperUser":
                                <span class="badge badge-warning">@Html.DisplayFor(model => model.Option)</span>
                                break;
                            case "User":
                                <span class="badge badge-info">@Html.DisplayFor(model => model.Option)</span>
                                break;
                            case "Client":
                                <span class="badge badge-success">@Html.DisplayFor(model => model.Option)</span>
                                break;
                            default:
                                <span class="badge badge-light">@Html.DisplayFor(model => model.Option)</span>
                                break;
                        }

                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>


        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
<div class="col-md-9">
    <div class="card card-dark card-tabs">
        <div class="card-header p-0 pt-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#details" data-toggle="pill">
                        <i class="fas fa-eye"></i> <span localize-content>Details</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects" data-toggle="pill">
                        <i class="fas fa-folder"></i> <span localize-content>Projects</span>

                    </a>
                </li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
            <div class="tab-content">
                <div class="active tab-pane" id="details">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header bg-gray">
                                    <h3 class="card-title">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <strong localize-content>Position</strong>
                                    </h3>
                                </div>
                            
                                <div class="card-body">
                                    @Html.DisplayFor(model => model.Position)
                                </div>
                            
                            </div>
                            
                        </div>
                        
                        <div class="col-md-4">
                            <div class="card ">
                                <div class="card-header bg-gray">
                                    <h3 class="card-title">
                                        <i class="fas fa-phone"></i>
                                        <strong localize-content>Phone Number</strong>
                                    </h3>
                                </div>
                                 
                                <div class="card-body">
                                    @Html.DisplayFor(model => model.PhoneNumber)
                                </div>
                                 
                            </div>
                            
                        </div>
                        
                        <div class="col-md-4">
                                    
                            <div class="card ">
                                <div class="card-header bg-gray">
                                    <h3 class="card-title">
                                        <i class="fas fa-lock"></i>
                                        <strong localize-content>2FA Enabled</strong>
                                    </h3>
                                </div>
                            
                                <div class="card-body">
                                    @Html.DisplayFor(model => model.TwoFactorEnabled)
                                </div>
                            
                            </div>
                            
                        </div>
                        
                        <div class="col-md-12">
                            <div class="card ">
                                <div class="card-header bg-gray">
                                    <h3 class="card-title">
                                        <i class="fas fa-align-left"></i>
                                        <strong localize-content>Description</strong>
                                    </h3>
                                </div>
                                                                         
                                <div class="card-body">
                                    @Html.Raw(@WebUtility.HtmlDecode(Model.Description))
                                </div>
                                                                         
                            </div>
                            
                        </div>
                        

                    </div>

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="projects">
                    @if (Model.Project.FirstOrDefault() != null)
                    {
                        <!--Table-->
                        <table id="projectResults" class="table table-bordered table-hover" width="100%">
                            <!--Table head-->
                            <thead class="thead-dark">
                            <tr>
                                <th>
                                    <i class="fas fa-folder"></i> <span localize-content>Name</span>
                                </th>
                                <th>
                                    <i class="fas fa-briefcase"></i> <span localize-content>Client</span>
                                </th>
                                <th>
                                    <i class="fas fa-project-diagram"></i> <span localize-content>Type</span>
                                </th>
                                <th>
                                    <i class="fas fa-tasks"></i> <span localize-content>Status</span>
                                </th>
                                <th>
                                    <i class="fas fa-calendar"></i> <span localize-content>Start Date</span>
                                </th>
                                <th>
                                    <i class="fas fa-calendar-check"></i> <span localize-content>End Date</span>
                                </th>
                                <th>
                                    <i class="fas fa-cog"></i> <span localize-content>Options</span>
                                </th>
                            </tr>
                            </thead>
                            <!--Table head-->
                            <!--Table body-->
                            <tbody>

                            @foreach (var project in Model.Project)
                            {
                                <tr>
                                    <td>
                                        @project.Name
                                    </td>
                                    <td>
                                        <a asp-controller="Client" asp-action="Details" asp-route-id="@project.ClientId" localize-content>
                                            <span class="btn btn-outline-dark btn-sm">
                                                <i class="fas fa-briefcase"></i> @project.Client.Name
                                            </span>
                                        </a>
                                    </td>
                                    <td>@project.ProjectType</td>
                                    <td>@project.Status</td>
                                    <td>@project.StartDate</td>
                                    <td>@project.EndDate</td>
                                    @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                                    {
                                        <td>
                                            <a class="btn btn-tool" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" localize-content>
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a class="btn btn-tool" asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id" localize-content>
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="btn btn-tool" asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" localize-content>
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a class="btn btn-tool" asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" localize-content>
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    }

                                </tr>
                            }

                            </tbody>
                            <!--Table body-->
                        </table>
                        <!--Table-->
                    }

                </div>
                <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.col -->
</div>

<a class="btn btn-default" asp-controller="User" asp-action="Index" localize-content>Back</a>

@if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
{
    <a class="btn btn-outline-warning" asp-area="" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" localize-content><i class="fas fa-edit"></i> Edit</a>
}
<!-- /.row -->
</div><!-- /.container-fluid -->


</section>