@using System.Net
@model IEnumerable<Cervantes.CORE.Note>

@{
    ViewData["Title"] = "Clients";
}
@{
    if (TempData["deleted"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>Note deleted successfully!</strong>

        </div>
    }

    if (TempData["created"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <strong localize-content>Note created successfully!</strong>

        </div>
    }

    if (TempData["edited"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <strong localize-content>Note edited successfully!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

    if (TempData["error"] != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <strong localize-content>@TempData["error"].ToString()</strong>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    }

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1><i class="fa fa-sticky-note"></i> <span localize-content>Notes</span></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="breadcrumb-item active" localize-content>Notes</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
    <hr/>
</section>

<!-- Main content -->
<section class="content">

    <div class="card">
        <div class="card-body">


            <!--Table-->
            <table id="clientResults" class="table table-bordered table-hover" width="100%">
                <!--Table head-->
                <thead class="thead-dark">
                <tr>
                    <th><i class="fas fa-sticky-note"></i> <span localize-content>Name</span></th>
                    <th><i class="fas fa-align-left"></i> <span localize-content>Description</span></th>
                    <th><i class="fas fa-user"></i> <span localize-content>Uploaded by</span></th>
                    <th><i class="fas fa-cog"></i> <span localize-content>Options</span></th>

                </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                @if (Model != null)
                {
                    @foreach (var note in Model)
                    {
                        <tr>
                            <td>
                                @note.Name
                            </td>
                            <td>@Html.Raw(@WebUtility.HtmlDecode(note.Description))</td>
                            <td>@note.User.FullName</td>
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperUser"))
                            {
                                <td>
                                    <a asp-area="" asp-controller="Note" asp-action="Details" asp-route-id="@note.Id" class="btn btn-tool">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a asp-area="" asp-controller="Note" asp-action="Edit" asp-route-id="@note.Id" class="btn btn-tool">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a asp-area="" asp-controller="Note" asp-action="Delete" asp-route-id="@note.Id" class="btn btn-tool">
                                        <i class="fas fa-trash"></i>
                                    </a>

                                </td>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Document" asp-action="Details" asp-route-id="@note.Id" class="btn btn-tool">
                                    <i class="fas fa-eye"></i>
                                </a>
                            }

                        </tr>
                    }
                }


                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->


        </div>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-light"><i class="fas fa-arrow-left"></i> Back</a>
        <a asp-area="" asp-controller="Note" asp-action="Create" class="btn btn-dark"><i class="fas fa-sticky-note"></i> Create</a>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

@section Scripts{
    <script>

    $(document).ready(function () {
        $('#clientResults').DataTable({
            "responsive": true
        });
        $('.dataTables_length').addClass('bs-select');
    });


</script>
}